# Множественная проверка гипотез

In [1]:
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests

## Foodmart product sales

In [2]:
sales = pd.read_csv('foodmart.sales.tsv', sep = '\t', header = 0, parse_dates = [2])

In [3]:
sales.head()

   product_id  store_id       date  sales
0           4         6 1997-01-01      4
1          25         6 1997-01-01      3
2          48         6 1997-01-01      3
3          76         6 1997-01-01      4
4         119         6 1997-01-01      3

In [4]:
products = pd.read_csv('foodmart.products.tsv', sep = '\t', header = 0)

In [5]:
products.head()

,product_class_id,product_id,brand_name,product_name,SKU,SRP,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,cases_per_pallet,shelf_width,shelf_height,shelf_depth
0,30,1,Washington,Washington Berry Juice,90748583674,2.85,8.39,6.39,False,False,30,14,16.9,12.60,7.40
1,52,2,Washington,Washington Mango Drink,96516502499,0.74,7.42,4.42,False,True,18,8,13.4,3.71,22.60
2,52,3,Washington,Washington Strawberry Drink,58427771925,0.83,13.10,11.10,True,True,17,13,14.4,11.00,7.77
3,19,4,Washington,Washington Cream Soda,64412155747,3.64,10.60,9.60,True,False,26,10,22.9,18.90,7.93
4,19,5,Washington,Washington Diet Soda,85561191439,2.19,6.66,4.65,True,False,7,10,20.7,21.90,19.20

In [6]:
sales = sales.merge(products[['product_id', 'product_name']], 
                    on = ['product_id'], how = 'inner')

In [7]:
sales.head()

   product_id  store_id       date  sales           product_name
0           4         6 1997-01-01      4  Washington Cream Soda
1           4         7 1997-01-05      3  Washington Cream Soda
2           4         6 1997-01-06      2  Washington Cream Soda
3           4        17 1997-01-11      2  Washington Cream Soda
4           4        24 1997-01-11      2  Washington Cream Soda

## Корреляция Пирсона

In [8]:
sparse_sales = pd.pivot_table(sales, values='sales', index=['date', 'store_id'],
                     columns=['product_name'], fill_value = 0)

In [ ]:
sparse_sales.head()

product_name         ADJ Rosy Sunglasses  Akron City Map  \
date       store_id
1997-01-01 6                           0               0
           14                          0               0
1997-01-02 11                          0               0
           23                          0               0
1997-01-03 7                           0               0

product_name         Akron Eyeglass Screwdriver  American Beef Bologna  \
date       store_id
1997-01-01 6                                  0                      0
           14                                 0                      0
1997-01-02 11                                 0                      0
           23                                 0                      0
1997-01-03 7                                  0                      0

product_name         American Chicken Hot Dogs  American Cole Slaw  \
date       store_id
1997-01-01 6                                 0                   0
           14                                0                   0
1997-01-02 11                                0                   0
           23                                0                   0
1997-01-03 7                                 0                   0

product_name         American Corned Beef  American Foot-Long Hot Dogs  \
date       store_id
1997-01-01 6                            0                            0
           14                           0                            0
1997-01-02 11                           0                            0
           23                           0                            0
1997-01-03 7                            0                            0

product_name         American Low Fat Bologna  American Low Fat Cole Slaw  \
date       store_id
1997-01-01 6                                0                           0
           14                               0                           0
1997-01-02 11                               0                           0
           23                               0                           0
1997-01-03 7                                0                           0

product_name                    ...               Washington Apple Juice  \
date       store_id             ...
1997-01-01 6                    ...                                    0
           14                   ...                                    0
1997-01-02 11                   ...                                    0
           23                   ...                                    0
1997-01-03 7                    ...                                    0

product_name         Washington Berry Juice  Washington Cola  \
date       store_id
1997-01-01 6                              0                0
           14                             0                0
1997-01-02 11                             0                0
           23                             0                0
1997-01-03 7                              4                0

product_name         Washington Cranberry Juice  Washington Cream Soda  \
date       store_id
1997-01-01 6                                  0                      4
           14                                 0                      0
1997-01-02 11                                 0                      0
           23                                 0                      0
1997-01-03 7                                  0                      0

product_name         Washington Diet Cola  Washington Diet Soda  \
date       store_id
1997-01-01 6                            0                     0
           14                           0                     0
1997-01-02 11                           0                     0
           23                           0                     0
1997-01-03 7                            0                     0

product_name         Washington Mango Drink  Washington Orange Juice  \
date       store_id
1997-01-01 6                              0                        0
           14                             0                        0
1997-01-02 11                             0                        0
           23                             0                        0
1997-01-03 7                              0                        0

product_name         Washington Strawberry Drink
date       store_id
1997-01-01 6                                   0
           14                                  0
1997-01-02 11                                  0
           23                                  0
1997-01-03 7                                   0

[5 rows x 1559 columns]

In [ ]:
%%time 
corr_data = []

for i, lhs_column in enumerate(sparse_sales.columns):
    for j, rhs_column in enumerate(sparse_sales.columns):
        if i >= j:
            continue
        
        corr, p = pearsonr(sparse_sales[lhs_column], sparse_sales[rhs_column])
        corr_data.append([lhs_column, rhs_column, corr, p])

In [ ]:
sales_correlation = pd.DataFrame.from_records(corr_data)
sales_correlation.columns = ['product_A', 'product_B', 'corr', 'p']

In [ ]:
sales_correlation.head()

Сколько гипотез об отсутствии корреляции отвергается без поправки на множественную проверку?

In [ ]:
(sales_correlation.p < 0.05).value_counts()

## Поправка на множественную проверку

### Метод Холма

In [ ]:
reject, p_corrected, a1, a2 = multipletests(sales_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [ ]:
sales_correlation['p_corrected'] = p_corrected
sales_correlation['reject'] = reject

In [ ]:
sales_correlation.head()

In [ ]:
sales_correlation.reject.value_counts()

In [ ]:
sales_correlation[sales_correlation.reject == True].sort_values(by='corr', ascending=False)

### Метод Бенджамини-Хохберга

In [ ]:
reject, p_corrected, a1, a2 = multipletests(sales_correlation.p, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [ ]:
sales_correlation['p_corrected'] = p_corrected
sales_correlation['reject'] = reject

In [ ]:
sales_correlation.head()

In [ ]:
sales_correlation.reject.value_counts()

In [ ]:
sales_correlation[sales_correlation.reject == True].sort_values(by='corr', ascending=False)