In [ ]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

In [116]:
data=pd.read_csv('botswana.tsv',sep='\t')
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

### Task 1

In [117]:
data.religion.value_counts()

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

4

### Task 2

In [118]:
data.dropna().shape

(1834, 15)

### Task 3

In [119]:
#Создайте признак nevermarr, равный единице там, где в agefm пропуски.

data['nevermarr']=0
ind=data[data.agefm.isnull()].index
data.loc[ind,'nevermarr']=1
# далите признак evermarr — в сумме с nevermarr он даёт константу, значит, в нашей матрице X будет мультиколлинеарность.
data.drop(['evermarr'],axis=1,inplace=True)
#Замените NaN в признаке agefm на c_agefm=0.
c_agefm=0
data.agefm=data.agefm.fillna(c_agefm)
#У объектов, где nevermarr = 1, замените NaN в признаке heduc на cheduc1=−1 
# (ноль использовать нельзя, так как он уже встречается у некоторых объектов выборки).
c_heduc1=-1 
data.loc[data.nevermarr==1,'heduc']=data.loc[data.nevermarr==1,'heduc'].fillna(c_heduc1)

In [120]:
data.heduc.isnull().sum()

123

### Task 4
Для признаков idlnchld, heduc и usemeth проведите операцию, аналогичную предыдущей: создайте индикаторы пропусков по этим признакам (idlnchld_noans, heduc_noans, usemeth_noans), замените пропуски на нехарактерные значения (cidlnchld=−1, cheduc2=−2 (значение -1 мы уже использовали), cusemeth=−1).

In [124]:
def dropna(newcol,oldcol,cons):
    data[newcol]=0
    ind=data[data[oldcol].isnull()].index
    data.loc[ind,newcol]=1
    data[oldcol]=data[oldcol].fillna(cons)

dropna('idlnchld_noans','idlnchld',-1)
dropna('heduc_noans','heduc',-2)
dropna('usemeth_noans','usemeth',-1)

In [133]:
data.dropna(inplace=True)
data.shape[0]*data.shape[1]

78264