In [19]:
import pandas as pd
import numpy as np
import math
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [17]:
data=pd.read_csv('water.txt',sep='\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [47]:
def get_t(data):
    mean = data.mean()
    mean_std = data.std(ddof=1)/np.sqrt(len(data))
    return _tconfint_generic(mean['mortality'], mean_std['mortality'],len(data) - 1, 0.05,'two-sided')

In [50]:
task2_t=get_t(data)
print ('task2_t=',task2_t)
print ("Task2=",round(task2_t[0],4))

task2_t= (1476.0833413552848, 1572.2117406119285)
Task2= 1476.0833

## Task2= 1476.0833

In [49]:
task3_t=get_t(data[data.location=='South'])

print ("Task3=",round(task2_t[1],4))

Task3= 1572.2117