In [96]:
import pandas as pd
import numpy as np
import glob,os,pickle
from datetime import datetime
from tqdm import tqdm 
from collections import defaultdict

In [100]:
# Взвращаем ИД сайта по его названию
def get_site_id(site,site_dict):
    print ('site:',site)
    return site_dict[site][0]

# Вырезаем ИД пользователя из имени файла
def get_user_id(filename):
    start_pos=(filename.find('\\user'))+5
    end_pos=(filename.find('.csv'))
    return int(filename[start_pos:end_pos])
# Заменяем названия сайтов на ИД, формируем словарь частот сайтов
def get_site_dict(all_user_log):
    # Расчитываем частоту freq для каждого сайта 
    all_user_log['freq'] = all_user_log.groupby('site')['site'].transform('count')
    # Формируем словарь
    site_dict=all_user_log[['site','freq']].drop_duplicates().sort_values(by='freq',ascending=False).reset_index(drop=True)
    site_dict['site_id']=site_dict.index+1
    site_dict.set_index(site_dict.site,inplace=True)
    site_dict['site_freq']=site_dict.apply(lambda row: (row['site_id'],row['freq']), axis=1)
    all_user_log=all_user_log.join(site_dict[['site','site_id']],on=['site'],rsuffix='r')
    site_dict=site_dict.site_freq.to_dict()
    return all_user_log[['timestamp','site_id','user_id']],site_dict

def user_log_to_session(user_log_df,user_id,session_length,window_size):
    res=pd.DataFrame()
    # Добавляем колонки
    for col in range(1,session_length+1):
        shift_index=col-1
        site_col_name='site'+str(col)
        res[site_col_name]=user_log_df.site_id[shift_index:]
        res[site_col_name]=res[site_col_name].shift(-shift_index)
        timestamp_col_name='time'+str(col)
        res[timestamp_col_name]=user_log_df.timestamp[shift_index:]
        res[timestamp_col_name]=res[timestamp_col_name].shift(-shift_index)
    # Удаляем лишние строки
    res['user_id']=user_id
    ind_tosave=[x for x in range(0,len(user_log_df),window_size)]
    return res.iloc[ind_tosave,:]

# Функция возвращает подготовленные данные и словарь сайтов
def prepare_train_set(path_to_csv_files, session_length,window_size):
    # Последовательно читаем все файлы сессий в каталоге и склеиваем их в один DataFrame = sessions_df
    all_files = glob.glob(os.path.join(path_to_csv_files, "*.csv"))
    print('1. Читаем исходные данные')
    user_log=[]
    for filename in all_files:
        df_user=pd.read_csv(filename)
        df_user['user_id']=get_user_id(filename)
        user_log.append(df_user)
    all_user_log = pd.concat(user_log, ignore_index=True)
    print('2. Формируем словарь')
    # Формируем словарь сайтов
    all_user_log,site_dict=get_site_dict(all_user_log)
    print('3. Формируем сессии')
    sessions=pd.DataFrame()
    for user_id in tqdm(all_user_log.user_id.value_counts().index):
        user_df=all_user_log[all_user_log.user_id==user_id]
        user_session=user_log_to_session(user_df,user_id,session_length,window_size)
        sessions=pd.concat([sessions,user_session])
    return sessions,site_dict

def resize_train(path_to_csv_files, session_length,window_size):
    sessions,dict_=prepare_train_set(path_to_csv_files, session_length,window_size)
    with open('train_'+str(window_size)+'_session.pkl', 'wb') as pkl_file:
        pickle.dump(sessions, pkl_file)
    with open('train_'+str(window_size)+'_dict.pkl', 'wb') as pkl_file:
        pickle.dump(dict_, pkl_file)

In [105]:
%%time
for window_size in [3,5,7,10]:
    print ('window_size=',window_size)
    resize_train('tr/',10,window_size)

window_size= 3
1. Читаем исходные данные
2. Формируем словарь
3. Формируем сессии

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  9.85it/s]

window_size= 5
1. Читаем исходные данные
2. Формируем словарь
3. Формируем сессии

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  7.86it/s]

window_size= 7
1. Читаем исходные данные
2. Формируем словарь
3. Формируем сессии

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  9.45it/s]

window_size= 10
1. Читаем исходные данные
2. Формируем словарь
3. Формируем сессии

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  8.09it/s]

Wall time: 1.63 s

In [93]:
pickle.dump

NameError: name 'pickle' is not defined

In [92]:
sessions

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,user_id
0,142,2014-01-30 13:36:20,111.0,2014-01-30 13:36:20,115.0,2014-01-30 13:36:20,95.0,2014-01-30 13:36:20,158.0,2014-01-30 13:36:20,...,2014-01-30 13:36:20,114.0,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,115.0,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,1
3,95,2014-01-30 13:36:20,158.0,2014-01-30 13:36:20,114.0,2014-01-30 13:36:20,114.0,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,...,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,5.0,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,1
6,114,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,115.0,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,...,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,50.0,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,1
9,95,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,5.0,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,...,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,9.0,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,1
12,4,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,50.0,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,...,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,4.0,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,1
15,4,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,9.0,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,...,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,113.0,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,1
18,8,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,4.0,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,...,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,5.0,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,1
21,9,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,113.0,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,...,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,191.0,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,1
24,50,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,5.0,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,...,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,14.0,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,1
27,209,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,191.0,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,...,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,109.0,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,1
30,53,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,14.0,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,...,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,20.0,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,1
33,39,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,109.0,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,...,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,109.0,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,1
36,5,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,20.0,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,...,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,9.0,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,1
39,20,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,109.0,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,...,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,198.0,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,1
42,106,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,9.0,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,17.0,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,1
45,9,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,198.0,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,1
48,12,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,17.0,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,221.0,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,1
51,7,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,...,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,236.0,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,1
54,5,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,221.0,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,...,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,1
57,241,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,236.0,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,...,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,55.0,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,1
60,55,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,...,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,4.0,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,1
63,226,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,55.0,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,...,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,207.0,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,1
66,55,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,4.0,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,...,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,4.0,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,1
69,4,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,207.0,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,...,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,12.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,1
72,55,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,4.0,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,...,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,1
75,9,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,12.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,...,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,12.0,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,1
78,10,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,...,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,4.0,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,1
81,13,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,12.0,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,...,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,7.0,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,1
84,47,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,4.0,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,...,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,7.0,2014-01-30 13:47:57,7.0,2014-01-30 13:48:00,4.0,2014-01-30 13:48:02,1
87,4,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,7.0,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,7.0,2014-01-30 13:47:57,...,2014-01-30 13:48:00,4.0,2014-01-30 13:48:02,43.0,2014-01-30 13:48:02,7.0,2014-01-30 13:48:02,43.0,2014-01-30 13:48:03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,6,2014-03-31 11:38:06,6.0,2014-03-31 11:38:18,2.0,2014-03-31 11:38:23,6.0,2014-03-31 11:38:23,6.0,2014-03-31 11:38:24,...,2014-03-31 11:38:26,6.0,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,6.0,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,5
5012,6,2014-03-31 11:38:23,6.0,2014-03-31 11:38:24,6.0,2014-03-31 11:38:26,6.0,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,...,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,6.0,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,5
5015,6,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,6.0,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,...,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,6.0,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,5
5018,6,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,6.0,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,...,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,2.0,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,5
5021,6,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,6.0,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,...,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,6.0,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,5
5024,6,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,2.0,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,...,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,6.0,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,5
5027,6,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,6.0,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,...,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,6.0,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,5
5030,6,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,6.0,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,...,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,6.0,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,5
5033,6,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,6.0,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,...,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,6.0,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,5
5036,6,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,6.0,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,...,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,6.0,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,5
5039,2,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,6.0,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,...,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,6.0,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,5
5042,6,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,6.0,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,...,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,6.0,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,5
5045,6,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,6.0,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,...,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,2.0,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,5
5048,6,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,6.0,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,...,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,2.0,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,5
5051,2,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,2.0,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,...,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,6.0,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,5
5054,1,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,2.0,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,...,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,2.0,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,5
5057,2,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,6.0,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,...,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,2.0,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,5
5060,2,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,2.0,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,...,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,2.0,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,5
5063,6,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,2.0,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,...,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,2.0,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,5
5066,6,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,2.0,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,...,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,2.0,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,5
5069,6,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,2.0,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,...,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,110.0,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,5
5072,2,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,2.0,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,...,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,2.0,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,5
5075,2,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,110.0,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,...,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,2.0,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,5
5078,2,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,2.0,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,...,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,3.0,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,5
5081,2,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,2.0,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,...,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,2.0,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,5
5084,2,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,3.0,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,...,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,6.0,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,5
5087,2,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,2.0,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,...,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,1.0,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,5
5090,2,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,6.0,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,...,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,NaN,NaN,NaN,NaN,5
5093,2,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,1.0,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5096,2,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

{'0.docs.google.com': (79, 6),
 '0.drive.google.com': (56, 9),
 '0.gravatar.com': (146, 3),
 '0.talkgadget.google.com': (161, 2),
 '1.docs.google.com': (100, 4),
 '1.drive.google.com': (122, 4),
 '1.gravatar.com': (141, 3),
 '2.drive.google.com': (175, 2),
 '8c.img.v4.skyrock.net': (280, 1),
 'a392.idata.over-blog.com': (184, 2),
 'acc.linternaute.com': (151, 3),
 'accounts.google.com': (11, 76),
 'accounts.google.fr': (34, 20),
 'accounts.youtube.com': (40, 15),
 'ad.foxitsoftware.com': (245, 1),
 'af.lygo.com': (312, 1),
 'ajax.googleapis.com': (38, 18),
 'ajax.microsoft.com': (158, 2),
 'annotathon.org': (2, 724),
 'annotathon.univ-mrs.fr': (110, 4),
 'api.bing.com': (29, 25),
 'api.dailymotion.com': (242, 1),
 'api.dmcloud.net': (130, 3),
 'api.facebook.com': (297, 1),
 'api.recaptcha.net': (155, 2),
 'api.recsys.opera.com': (36, 19),
 'api.twitter.com': (102, 4),
 'apis.google.com': (9, 123),
 'apr.lijit.com': (164, 2),
 'archimer.ifremer.fr': (49, 11),
 'assets.pinterest.com': (96, 5),
 'assets.vice.com': (228, 1),
 'autoupdate.geo.opera.com': (47, 12),
 'b.mail.google.com': (105, 4),
 'banniere.reussissonsensemble.fr': (222, 1),
 'bfc.linternaute.com': (177, 2),
 'bibliotheque.clermont-universite.fr': (247, 1),
 'bits.wikimedia.org': (12, 66),
 'blast.ncbi.nlm.nih.gov': (1, 748),
 'c.msn.com': (179, 2),
 'c2i.univ-bpclermont.fr': (224, 1),
 'cache.graph.boursier.com': (84, 5),
 'calendrier.celtique.free.fr': (306, 1),
 'cdn1.file.org': (137, 3),
 'ce.lijit.com': (145, 3),
 'cerclechouette.canalblog.com': (112, 4),
 'chatenabled.mail.google.com': (87, 5),
 'chie8oo.com': (169, 2),
 'clients1.google.com': (51, 10),
 'clients1.google.fr': (48, 12),
 'clients2.google.com': (30, 25),
 'clients6.google.com': (24, 39),
 'cloud.eclipse.unrulymedia.com': (244, 1),
 'cms.abmr.net': (53, 9),
 'commons.wikimedia.org': (119, 4),
 'connect.facebook.net': (39, 17),
 'd1447tq2m68ekg.cloudfront.net': (216, 1),
 'd1xnn692s7u6t6.cloudfront.net': (193, 2),
 'd2jc9zwbrclgz3.cloudfront.net': (109, 4),
 'dc1w54.wysistat.com': (262, 1),
 'deliv.leboncoin.fr': (248, 1),
 'dev.virtualearth.net': (283, 1),
 'disqus.com': (44, 14),
 'distractionware.com': (176, 2),
 'dnn506yrbagrg.cloudfront.net': (211, 1),
 'docs.google.com': (16, 56),
 'drive.google.com': (19, 47),
 'druid.wikispaces.com': (305, 1),
 'druide.com': (308, 1),
 'druuidiacto.forumculture.net': (267, 1),
 'ea.numericable.fr': (243, 1),
 'ecn.api.tiles.virtualearth.net': (209, 1),
 'emailretargeting.com': (250, 1),
 'en.wikipedia.org': (200, 2),
 'endor.mediabong.com': (127, 3),
 'engines.plagium.com': (97, 5),
 'file.org': (174, 2),
 'fls-na.amazon.com': (131, 3),
 'formation17mars.files.wordpress.com': (233, 1),
 'formation17mars.wordpress.com': (166, 2),
 'forums.wowmania.fr': (165, 2),
 'fpdownload2.macromedia.com': (116, 4),
 'fr-fr.facebook.com': (186, 2),
 'fr.wikipedia.org': (10, 78),
 'fr.wiktionary.org': (271, 1),
 'fr.yahoo.com': (226, 1),
 'fr.youtube.com': (251, 1),
 'french.ruvr.ru': (28, 26),
 'frenzy.sparklinlabs.com': (104, 4),
 'gcm.chango.com': (313, 1),
 'gdata.youtube.com': (254, 1),
 'get.adobe.com': (99, 5),
 'get.geo.opera.com': (106, 4),
 'get3.adobe.com': (133, 3),
 'gg.google.com': (46, 13),
 'gmail.com': (69, 7),
 'go.disqus.com': (82, 6),
 'go.microsoft.com': (142, 3),
 'google.fr': (107, 4),
 'gtglobal-ocsp.geotrust.com': (135, 3),
 'gtssl-ocsp.geotrust.com': (234, 1),
 'hal9000.redintelligence.net': (81, 6),
 'heureuxoli.developpez.com': (89, 5),
 'hiram3330.unblog.fr': (269, 1),
 'hitskin.com': (257, 1),
 'i0.wp.com': (282, 1),
 'i1.ytimg.com': (37, 19),
 'i18.servimg.com': (310, 1),
 'i2.wp.com': (246, 1),
 'i21.servimg.com': (266, 1),
 'i3.ytimg.com': (256, 1),
 'i30.servimg.com': (311, 1),
 'i31.servimg.com': (307, 1),
 'i48.servimg.com': (286, 1),
 'i68.servimg.com': (284, 1),
 'id.google.fr': (77, 6),
 'idata.over-blog.com': (183, 2),
 'ieonline.microsoft.com': (50, 11),
 'illiweb.com': (78, 6),
 'image.consom-acteur.com': (259, 1),
 'image.noelshack.com': (206, 1),
 'images-na.ssl-images-amazon.com': (190, 2),
 'images.newsmax.com': (230, 1),
 'images.orangepublicite.fr': (252, 1),
 'img.youtube.com': (264, 1),
 'img46.xooimage.com': (299, 1),
 'img96.imageshack.us': (210, 1),
 'integrate.factiva.com': (294, 1),
 'javadl-esd.sun.com': (227, 1),
 'js.microsoft.com': (95, 5),
 'laboiteverte.disqus.com': (58, 9),
 'larussiedaujourdhui.fr': (73, 7),
 'letemps.wemfbox.ch': (290, 1),
 'lh6.google.com': (185, 2),
 'lhddt.files.wordpress.com': (160, 2),
 'logc258.at.pagesjaunes.fr': (191, 2),
 'login.live.com': (14, 59),
 'login.wikimedia.org': (45, 13),
 'm.ruvr.ru': (289, 1),
 'mail.google.com': (15, 57),
 'match.rtbidder.net': (202, 1),
 'media.koreus.com': (220, 1),
 'meta.wikimedia.org': (13, 60),
 'mfr.meteofrance.com': (249, 1),
 'michelm.fr': (83, 5),
 'mw2.google.com': (113, 4),
 'n12.hal9000.redintelligence.net': (295, 1),
 'netdna.webdesignerdepot.com': (103, 4),
 'nl.media.rbth.ru': (154, 3),
 'no.wikipedia.org': (218, 1),
 'o1fi67p86o.s.ad6media.fr': (203, 1),
 'o2i.univ-bpclermont.fr': (54, 9),
 'ocsp.digicert.com': (212, 1),
 'ocsp.tcs.terena.org': (231, 1),
 'ocsp.thawte.com': (199, 2),
 'ocsp.usertrust.com': (223, 1),
 'ocsp.verisign.com': (201, 1),
 'office.microsoft.com': (52, 9),
 'office14client.microsoft.com': (149, 3),
 'p.typekit.net': (94, 5),
 'p0.storage.canalblog.com': (279, 1),
 'p1.storage.canalblog.com': (278, 1),
 'p3.storage.canalblog.com': (275, 1),
 'p5.storage.canalblog.com': (274, 1),
 'p6.storage.canalblog.com': (316, 1),
 'p7.storage.canalblog.com': (276, 1),
 'p8.storage.canalblog.com': (277, 1),
 'p9.storage.canalblog.com': (273, 1),
 'particuliers.lcl.fr': (167, 2),
 'particuliers.secure.lcl.fr': (42, 14),
 'passets.pinterest.com': (147, 3),
 'pbs.twimg.com': (65, 8),
 'pis.foxitsoftware.com': (288, 1),
 'piwik.get-surf.com': (265, 1),
 'pixel.alephd.com': (152, 3),
 'platform.linkedin.com': (162, 2),
 'platform.stumbleupon.com': (213, 1),
 'platform.twitter.com': (23, 41),
 'player.mediabong.com': (129, 3),
 'player.vimeo.com': (189, 2),
 'plus.google.com': (25, 38),
 'premium.hi-mediaserver.com': (287, 1),
 'printf.eu': (108, 4),
 'public-api.wordpress.com': (124, 3),
 'r-ec.bstatic.com': (236, 1),
 'r.ccmbg.com': (85, 5),
 'r1---sn-gxo5uxg-jqbe.googlevideo.com': (253, 1),
 'r13.imgfast.net': (268, 1),
 'r2---sn-gxo5uxg-jqbe.googlevideo.com': (123, 4),
 'r20.imgfast.net': (258, 1),
 'r3---sn-gxo5uxg-jqbe.googlevideo.com': (62, 8),
 'r4---sn-gxo5uxg-jqbe.googlevideo.com': (196, 2),
 'r7---sn-cg07luer.googlevideo.com': (118, 4),
 'redir.opera.com': (55, 9),
 'res1.windows.microsoft.com': (115, 4),
 'res2.windows.microsoft.com': (114, 4),
 'rr.office.microsoft.com': (292, 1),
 'rus.ruvr.ru': (80, 6),
 's-static.ak.facebook.com': (20, 44),
 's.gravatar.com': (148, 3),
 's.wat.tv': (261, 1),
 's.youtube.com': (35, 20),
 's.ytimg.com': (41, 15),
 's0.wp.com': (57, 9),
 's1.lemde.fr': (235, 1),
 's2.wp.com': (139, 3),
 's3.amazonaws.com': (168, 2),
 's3.feedly.com': (217, 1),
 'safebrowsing-cache.google.com': (61, 8),
 'safebrowsing.clients.google.com': (60, 8),
 'sb-ssl.google.com': (187, 2),
 'sci.sciences.univ-bpclermont.fr': (136, 3),
 'scripts.lycos.com': (172, 2),
 'search.yahoo.com': (198, 2),
 'services.highbeam.com': (293, 1),
 'sitecheck2.opera.com': (7, 152),
 'srv.francetv.fr': (214, 1),
 'ssl.bing.com': (27, 29),
 'static-cdn1.ustream.tv': (138, 3),
 'static-cdn2.ustream.tv': (156, 2),
 'static-ssl.dmcloud.net': (117, 4),
 'static.ak.facebook.com': (32, 22),
 'static.canalblog.com': (128, 3),
 'static.ccmbg.com': (66, 8),
 'static.francetv.fr': (215, 1),
 'static.mediabong.com': (126, 3),
 'static.pubmed.gov': (26, 33),
 'stats.adobe.com': (134, 3),
 'storage.canalblog.com': (315, 1),
 'support.google.com': (93, 5),
 'syndication.twitter.com': (68, 7),
 'talkgadget.google.com': (18, 49),
 'targeting.unrulymedia.com': (163, 2),
 'terrycavanaghgames.com': (67, 7),
 'testblock.ruvr.ru': (91, 5),
 'thumbs.koreus.com': (205, 1),
 'tracking.moon-ray.com': (302, 1),
 'translate.google.fr': (33, 21),
 'ts1.mm.bing.net': (71, 7),
 'ts2.mm.bing.net': (64, 8),
 'ts3.mm.bing.net': (63, 8),
 'ts4.explicit.bing.net': (171, 2),
 'ts4.mm.bing.net': (72, 7),
 'twitter.com': (21, 41),
 'um.simpli.fi': (240, 1),
 'update.megasoftware.net': (238, 1),
 'us-request.foxitservice.com': (219, 1),
 'use.typekit.net': (143, 3),
 'webdesignerdepot.disqus.com': (232, 1),
 'widgets.pinterest.com': (98, 5),
 'widgets.wp.com': (140, 3),
 'windows.microsoft.com': (111, 4),
 'wowcss.zamimg.com': (303, 1),
 'wowjs.zamimg.com': (304, 1),
 'www.adobe.com': (181, 2),
 'www.amazon.com': (92, 5),
 'www.amazon.fr': (221, 1),
 'www.angelfire.com': (88, 5),
 'www.angelfire.lycos.com': (314, 1),
 'www.anonymousdmp.com': (208, 1),
 'www.arfe.fr': (301, 1),
 'www.audienceinsights.net': (204, 1),
 'www.beead.fr': (263, 1),
 'www.bing.com': (5, 228),
 'www.bookfoto.com': (270, 1),
 'www.booking.com': (237, 1),
 'www.boursier.com': (86, 5),
 'www.canalblog.com': (188, 2),
 'www.climenti.com': (75, 7),
 'www.developpez.com': (90, 5),
 'www.druide.com': (132, 3),
 'www.ebz.io': (255, 1),
 'www.egaliteetreconciliation.fr': (194, 2),
 'www.facebook.com': (17, 50),
 'www.fishbase.org': (70, 7),
 'www.francetvinfo.fr': (76, 6),
 'www.genome.jp': (157, 2),
 'www.gif-anime.org': (309, 1),
 'www.google.com': (8, 128),
 'www.google.fr': (4, 251),
 'www.googleapis.com': (173, 2),
 'www.icone-gif.com': (291, 1),
 'www.kongregate.com': (225, 1),
 'www.koreus.com': (120, 4),
 'www.labo-microsoft.org': (272, 1),
 'www.laboiteverte.fr': (43, 14),
 'www.lcl.fr': (180, 2),
 'www.lemonde.fr': (241, 1),
 'www.letemps.ch': (182, 2),
 'www.linkedin.com': (285, 1),
 'www.linternaute.com': (59, 8),
 'www.livres-mystiques.com': (150, 3),
 'www.maxi-gif.com': (298, 1),
 'www.meditation3g.com': (300, 1),
 'www.megasoftware.net': (239, 1),
 'www.microsofttranslator.com': (125, 3),
 'www.mononyme.com': (178, 2),
 'www.ncbi.nlm.nih.gov': (3, 507),
 'www.openbsd.org': (159, 2),
 'www.pagesjaunes.fr': (195, 2),
 'www.phylogeny.fr': (6, 208),
 'www.plagium.com': (22, 41),
 'www.radio-vintage-legend.com': (260, 1),
 'www.squid-cache.org': (144, 3),
 'www.tdg.ch': (192, 2),
 'www.themanual.com': (229, 1),
 'www.thisiscolossal.com': (153, 3),
 'www.twitter.com': (207, 1),
 'www.ustream.tv': (170, 2),
 'www.webdesignerdepot.com': (101, 4),
 'www.worldlingo.com': (296, 1),
 'www.youtube-nocookie.com': (197, 2),
 'www.youtube.com': (31, 25),
 'www1.moon-ray.com': (281, 1),
 'wwwimages.adobe.com': (121, 4),
 'yt3.ggpht.com': (74, 7)}

In [78]:
sessions=pd.DataFrame()
session_length=10
window_size=3
for user_id in tqdm(a.user_id.value_counts().index):
    user_df=a[a.user_id==user_id]
    user_session=user_log_to_session(user_df,user_id,session_length,window_size)
    sessions=pd.concat([sessions,user_session])

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 11.41it/s]

In [79]:
sessions

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,user_id
0,142,2014-01-30 13:36:20,111.0,2014-01-30 13:36:20,115.0,2014-01-30 13:36:20,95.0,2014-01-30 13:36:20,158.0,2014-01-30 13:36:20,...,2014-01-30 13:36:20,114.0,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,115.0,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,1
3,95,2014-01-30 13:36:20,158.0,2014-01-30 13:36:20,114.0,2014-01-30 13:36:20,114.0,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,...,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,5.0,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,1
6,114,2014-01-30 13:36:21,111.0,2014-01-30 13:36:21,115.0,2014-01-30 13:36:21,95.0,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,...,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,50.0,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,1
9,95,2014-01-30 13:36:21,4.0,2014-01-30 13:36:24,5.0,2014-01-30 13:36:25,4.0,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,...,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,9.0,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,1
12,4,2014-01-30 13:36:32,4.0,2014-01-30 13:36:39,50.0,2014-01-30 13:36:39,4.0,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,...,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,4.0,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,1
15,4,2014-01-30 13:36:42,4.0,2014-01-30 13:36:44,9.0,2014-01-30 13:36:45,8.0,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,...,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,113.0,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,1
18,8,2014-01-30 13:36:47,113.0,2014-01-30 13:36:49,4.0,2014-01-30 13:36:51,9.0,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,...,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,5.0,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,1
21,9,2014-01-30 13:36:51,8.0,2014-01-30 13:36:51,113.0,2014-01-30 13:36:51,50.0,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,...,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,191.0,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,1
24,50,2014-01-30 13:37:41,5.0,2014-01-30 13:42:29,5.0,2014-01-30 13:42:30,209.0,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,...,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,14.0,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,1
27,209,2014-01-30 13:42:30,195.0,2014-01-30 13:42:30,191.0,2014-01-30 13:42:30,53.0,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,...,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,109.0,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,1
30,53,2014-01-30 13:42:31,5.0,2014-01-30 13:42:31,14.0,2014-01-30 13:42:32,39.0,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,...,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,20.0,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,1
33,39,2014-01-30 13:42:32,23.0,2014-01-30 13:42:32,109.0,2014-01-30 13:42:32,5.0,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,...,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,109.0,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,1
36,5,2014-01-30 13:42:32,32.0,2014-01-30 13:42:32,20.0,2014-01-30 13:42:33,20.0,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,...,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,9.0,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,1
39,20,2014-01-30 13:42:34,32.0,2014-01-30 13:42:34,109.0,2014-01-30 13:42:34,106.0,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,...,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,198.0,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,1
42,106,2014-01-30 13:42:41,106.0,2014-01-30 13:42:47,9.0,2014-01-30 13:42:51,9.0,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,17.0,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,1
45,9,2014-01-30 13:42:53,92.0,2014-01-30 13:43:09,198.0,2014-01-30 13:43:09,12.0,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,1
48,12,2014-01-30 13:43:09,4.0,2014-01-30 13:43:09,17.0,2014-01-30 13:43:09,7.0,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,...,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,221.0,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,1
51,7,2014-01-30 13:43:09,47.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:09,5.0,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,...,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,236.0,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,1
54,5,2014-01-30 13:43:09,55.0,2014-01-30 13:43:10,221.0,2014-01-30 13:43:10,241.0,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,...,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,1
57,241,2014-01-30 13:43:11,237.0,2014-01-30 13:43:11,236.0,2014-01-30 13:43:11,55.0,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,...,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,55.0,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,1
60,55,2014-01-30 13:43:11,235.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:12,226.0,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,...,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,4.0,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,1
63,226,2014-01-30 13:43:12,55.0,2014-01-30 13:43:13,55.0,2014-01-30 13:43:14,55.0,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,...,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,207.0,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,1
66,55,2014-01-30 13:43:17,4.0,2014-01-30 13:43:20,4.0,2014-01-30 13:43:21,4.0,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,...,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,4.0,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,1
69,4,2014-01-30 13:43:22,36.0,2014-01-30 13:43:23,207.0,2014-01-30 13:43:23,55.0,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,...,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,12.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,1
72,55,2014-01-30 13:43:23,7.0,2014-01-30 13:43:31,4.0,2014-01-30 13:43:34,9.0,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,...,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,1
75,9,2014-01-30 13:43:35,8.0,2014-01-30 13:43:37,12.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,...,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,12.0,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,1
78,10,2014-01-30 13:43:45,7.0,2014-01-30 13:43:45,10.0,2014-01-30 13:43:46,13.0,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,...,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,4.0,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,1
81,13,2014-01-30 13:43:46,45.0,2014-01-30 13:43:46,12.0,2014-01-30 13:43:46,47.0,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,...,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,7.0,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,1
84,47,2014-01-30 13:44:23,4.0,2014-01-30 13:46:51,4.0,2014-01-30 13:46:53,4.0,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,...,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,7.0,2014-01-30 13:47:57,7.0,2014-01-30 13:48:00,4.0,2014-01-30 13:48:02,1
87,4,2014-01-30 13:46:54,7.0,2014-01-30 13:46:55,7.0,2014-01-30 13:47:03,4.0,2014-01-30 13:47:56,7.0,2014-01-30 13:47:57,...,2014-01-30 13:48:00,4.0,2014-01-30 13:48:02,43.0,2014-01-30 13:48:02,7.0,2014-01-30 13:48:02,43.0,2014-01-30 13:48:03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,6,2014-03-31 11:38:06,6.0,2014-03-31 11:38:18,2.0,2014-03-31 11:38:23,6.0,2014-03-31 11:38:23,6.0,2014-03-31 11:38:24,...,2014-03-31 11:38:26,6.0,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,6.0,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,5
5012,6,2014-03-31 11:38:23,6.0,2014-03-31 11:38:24,6.0,2014-03-31 11:38:26,6.0,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,...,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,6.0,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,5
5015,6,2014-03-31 11:38:29,6.0,2014-03-31 11:38:31,6.0,2014-03-31 11:38:33,6.0,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,...,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,6.0,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,5
5018,6,2014-03-31 11:38:36,6.0,2014-03-31 11:38:38,6.0,2014-03-31 11:38:41,6.0,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,...,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,2.0,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,5
5021,6,2014-03-31 11:38:43,6.0,2014-03-31 11:38:46,6.0,2014-03-31 11:38:48,6.0,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,...,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,6.0,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,5
5024,6,2014-03-31 11:38:50,6.0,2014-03-31 11:38:53,2.0,2014-03-31 11:38:53,6.0,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,...,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,6.0,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,5
5027,6,2014-03-31 11:38:55,6.0,2014-03-31 11:38:58,6.0,2014-03-31 11:39:01,6.0,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,...,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,6.0,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,5
5030,6,2014-03-31 11:39:03,6.0,2014-03-31 11:39:05,6.0,2014-03-31 11:39:08,6.0,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,...,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,6.0,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,5
5033,6,2014-03-31 11:39:10,6.0,2014-03-31 11:39:13,6.0,2014-03-31 11:39:15,6.0,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,...,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,6.0,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,5
5036,6,2014-03-31 11:39:18,6.0,2014-03-31 11:39:20,6.0,2014-03-31 11:39:23,2.0,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,...,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,6.0,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,5
5039,2,2014-03-31 11:39:23,6.0,2014-03-31 11:39:25,6.0,2014-03-31 11:39:28,6.0,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,...,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,6.0,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,5
5042,6,2014-03-31 11:39:30,6.0,2014-03-31 11:39:32,6.0,2014-03-31 11:39:35,6.0,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,...,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,6.0,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,5
5045,6,2014-03-31 11:39:37,6.0,2014-03-31 11:39:44,6.0,2014-03-31 11:39:45,6.0,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,...,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,2.0,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,5
5048,6,2014-03-31 11:39:46,6.0,2014-03-31 11:39:47,6.0,2014-03-31 11:39:48,2.0,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,...,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,2.0,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,5
5051,2,2014-03-31 11:39:53,2.0,2014-03-31 11:40:23,2.0,2014-03-31 11:40:53,1.0,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,...,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,6.0,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,5
5054,1,2014-03-31 11:41:06,3.0,2014-03-31 11:41:06,2.0,2014-03-31 11:41:23,2.0,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,...,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,2.0,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,5
5057,2,2014-03-31 11:41:53,6.0,2014-03-31 11:42:09,6.0,2014-03-31 11:42:18,2.0,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,...,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,2.0,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,5
5060,2,2014-03-31 11:42:23,6.0,2014-03-31 11:42:28,2.0,2014-03-31 11:42:53,6.0,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,...,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,2.0,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,5
5063,6,2014-03-31 11:42:58,2.0,2014-03-31 11:43:23,2.0,2014-03-31 11:43:53,6.0,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,...,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,2.0,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,5
5066,6,2014-03-31 11:44:13,6.0,2014-03-31 11:44:16,2.0,2014-03-31 11:44:23,6.0,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,...,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,2.0,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,5
5069,6,2014-03-31 11:44:29,6.0,2014-03-31 11:44:45,2.0,2014-03-31 11:44:53,2.0,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,...,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,110.0,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,5
5072,2,2014-03-31 11:45:23,2.0,2014-03-31 11:45:53,2.0,2014-03-31 11:46:23,2.0,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,...,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,2.0,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,5
5075,2,2014-03-31 11:46:53,2.0,2014-03-31 11:47:02,110.0,2014-03-31 11:47:02,2.0,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,...,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,2.0,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,5
5078,2,2014-03-31 11:47:23,2.0,2014-03-31 11:47:53,2.0,2014-03-31 11:48:23,2.0,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,...,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,3.0,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,5
5081,2,2014-03-31 11:48:53,2.0,2014-03-31 11:49:23,2.0,2014-03-31 11:49:53,2.0,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,...,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,2.0,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,5
5084,2,2014-03-31 11:50:23,1.0,2014-03-31 11:50:23,3.0,2014-03-31 11:50:23,2.0,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,...,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,6.0,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,5
5087,2,2014-03-31 11:50:53,2.0,2014-03-31 11:51:24,2.0,2014-03-31 11:51:53,2.0,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,...,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,1.0,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,5
5090,2,2014-03-31 11:52:23,6.0,2014-03-31 11:52:40,6.0,2014-03-31 11:52:49,2.0,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,...,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,NaN,NaN,NaN,NaN,5
5093,2,2014-03-31 11:52:53,2.0,2014-03-31 11:53:23,1.0,2014-03-31 11:53:51,2.0,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5096,2,2014-03-31 11:53:53,2.0,2014-03-31 11:54:23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,user_id
2624,116,2013-11-27 13:35:14,142.0,2013-11-27 13:35:17,111.0,2013-11-27 13:35:17,115.0,2013-11-27 13:35:17,95.0,2013-11-27 13:35:17,...,2013-11-27 13:35:17,158.0,2013-11-27 13:35:17,95.0,2013-11-27 13:35:18,111.0,2013-11-27 13:35:18,115.0,2013-11-27 13:35:18,5
2627,115,2013-11-27 13:35:17,95.0,2013-11-27 13:35:17,114.0,2013-11-27 13:35:17,158.0,2013-11-27 13:35:17,95.0,2013-11-27 13:35:18,...,2013-11-27 13:35:18,115.0,2013-11-27 13:35:18,114.0,2013-11-27 13:35:18,5.0,2013-11-27 13:35:22,5.0,2013-11-27 13:35:28,5

In [16]:
window_size=3
session_length=10
max_sesssion_len=200
# Обрабатываем лог юзера и возвращем индексы записей лога, которые должны войти в одну сессию 
def process_user(user_df,window_size,session_length,max_sesssion_len):
    session_coords=[]
    start_index=user_df.index.min()
    max_index=user_df.index.max()
    while start_index<max_index:
        for pad in range(session_length):
            end_index=start_index+session_length-pad-1
            if end_index>max_index:
                end_index=max_index
            time1=datetime.strptime(user_df.loc[start_index,'timestamp'], '%Y-%m-%d %H:%M:%S')
            time2=datetime.strptime(user_df.loc[end_index,'timestamp'], '%Y-%m-%d %H:%M:%S')
            session_len=(time2-time1).total_seconds()
            if session_len<=max_sesssion_len:
                break
        session_coords.append([start_index,end_index])
        start_index+=window_size
    return (session_coords)

In [24]:
session_coords=[]
for user_id in tqdm(a.user_id.value_counts().index):
    user_df=a[a.user_id==user_id]
    session_coords=process_user(user_df,window_size,session_length,max_sesssion_len)
    sessiond_df=log_to_session(session_coords,user_df,user_id)

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:06<00:00,  3.19s/it]

In [25]:
sessiond_df

,time1,site1,time2,site2,time3,site3,time4,site4,time5,site5,...,site6,time7,site7,time8,site8,time9,site9,time10,site10,user_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [21]:
def log_to_session(session_coords,user_df,user_id):
    sessions_num=len(session_coords)
    sessions=np.array([])
    for coord in session_coords:
        session_log=user_df.iloc[coord[0]:coord[1]+1,:][['timestamp','site_id']].as_matrix()
        if len(session_log) < windows_size:
            ar_pad=np.empty(2*(windows_size-len(session_log)))
            ar_pad.fill(np.nan)
            session_log=np.append(session_log, ar_pad)
        sessions=np.append(sessions, session_log)
        sessions=np.append(sessions, user_id)
    col_name=np.array([['time'+str(x),'site'+str(x)] for x in range(1,windows_size+1)]).reshape([1,2*windows_size])[0]
    col_name=np.append(col_name, ['user_id'])
    sessions=pd.DataFrame(sessions.reshape([sessions_num,1+2*windows_size]),columns=col_name)
    return sessions
    
t=log_to_session(session_coords,a,1)

In [22]:
t

,time1,site1,time2,site2,time3,site3,time4,site4,time5,site5,...,site6,time7,site7,time8,site8,time9,site9,time10,site10,user_id
0,2014-01-30 13:36:20,142,2014-01-30 13:36:20,111,2014-01-30 13:36:20,115,2014-01-30 13:36:20,95,2014-01-30 13:36:20,158,...,114,2014-01-30 13:36:21,114,2014-01-30 13:36:21,111,2014-01-30 13:36:21,115,2014-01-30 13:36:21,95,1
1,2014-01-30 13:36:20,95,2014-01-30 13:36:20,158,2014-01-30 13:36:20,114,2014-01-30 13:36:21,114,2014-01-30 13:36:21,111,...,115,2014-01-30 13:36:21,95,2014-01-30 13:36:24,4,2014-01-30 13:36:25,5,2014-01-30 13:36:32,4,1
2,2014-01-30 13:36:21,114,2014-01-30 13:36:21,111,2014-01-30 13:36:21,115,2014-01-30 13:36:21,95,2014-01-30 13:36:24,4,...,5,2014-01-30 13:36:32,4,2014-01-30 13:36:39,4,2014-01-30 13:36:39,50,2014-01-30 13:36:42,4,1
3,2014-01-30 13:36:21,95,2014-01-30 13:36:24,4,2014-01-30 13:36:25,5,2014-01-30 13:36:32,4,2014-01-30 13:36:39,4,...,50,2014-01-30 13:36:42,4,2014-01-30 13:36:44,4,2014-01-30 13:36:45,9,2014-01-30 13:36:47,8,1
4,2014-01-30 13:36:32,4,2014-01-30 13:36:39,4,2014-01-30 13:36:39,50,2014-01-30 13:36:42,4,2014-01-30 13:36:44,4,...,9,2014-01-30 13:36:47,8,2014-01-30 13:36:49,113,2014-01-30 13:36:51,4,2014-01-30 13:36:51,9,1
5,2014-01-30 13:36:42,4,2014-01-30 13:36:44,4,2014-01-30 13:36:45,9,2014-01-30 13:36:47,8,2014-01-30 13:36:49,113,...,4,2014-01-30 13:36:51,9,2014-01-30 13:36:51,8,2014-01-30 13:36:51,113,2014-01-30 13:37:41,50,1
6,2014-01-30 13:36:47,8,2014-01-30 13:36:49,113,2014-01-30 13:36:51,4,2014-01-30 13:36:51,9,2014-01-30 13:36:51,8,...,113,2014-01-30 13:37:41,50,NaN,NaN,NaN,NaN,NaN,NaN,1
7,2014-01-30 13:36:51,9,2014-01-30 13:36:51,8,2014-01-30 13:36:51,113,2014-01-30 13:37:41,50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8,2014-01-30 13:37:41,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,2014-01-30 13:42:30,209,2014-01-30 13:42:30,195,2014-01-30 13:42:30,191,2014-01-30 13:42:31,53,2014-01-30 13:42:31,5,...,14,2014-01-30 13:42:32,39,2014-01-30 13:42:32,23,2014-01-30 13:42:32,109,2014-01-30 13:42:32,5,1
10,2014-01-30 13:42:31,53,2014-01-30 13:42:31,5,2014-01-30 13:42:32,14,2014-01-30 13:42:32,39,2014-01-30 13:42:32,23,...,109,2014-01-30 13:42:32,5,2014-01-30 13:42:32,32,2014-01-30 13:42:33,20,2014-01-30 13:42:34,20,1
11,2014-01-30 13:42:32,39,2014-01-30 13:42:32,23,2014-01-30 13:42:32,109,2014-01-30 13:42:32,5,2014-01-30 13:42:32,32,...,20,2014-01-30 13:42:34,20,2014-01-30 13:42:34,32,2014-01-30 13:42:34,109,2014-01-30 13:42:41,106,1
12,2014-01-30 13:42:32,5,2014-01-30 13:42:32,32,2014-01-30 13:42:33,20,2014-01-30 13:42:34,20,2014-01-30 13:42:34,32,...,109,2014-01-30 13:42:41,106,2014-01-30 13:42:47,106,2014-01-30 13:42:51,9,2014-01-30 13:42:53,9,1
13,2014-01-30 13:42:34,20,2014-01-30 13:42:34,32,2014-01-30 13:42:34,109,2014-01-30 13:42:41,106,2014-01-30 13:42:47,106,...,9,2014-01-30 13:42:53,9,2014-01-30 13:43:09,92,2014-01-30 13:43:09,198,2014-01-30 13:43:09,12,1
14,2014-01-30 13:42:41,106,2014-01-30 13:42:47,106,2014-01-30 13:42:51,9,2014-01-30 13:42:53,9,2014-01-30 13:43:09,92,...,198,2014-01-30 13:43:09,12,2014-01-30 13:43:09,4,2014-01-30 13:43:09,17,2014-01-30 13:43:09,7,1
15,2014-01-30 13:42:53,9,2014-01-30 13:43:09,92,2014-01-30 13:43:09,198,2014-01-30 13:43:09,12,2014-01-30 13:43:09,4,...,17,2014-01-30 13:43:09,7,2014-01-30 13:43:09,47,2014-01-30 13:43:09,55,2014-01-30 13:43:09,5,1
16,2014-01-30 13:43:09,12,2014-01-30 13:43:09,4,2014-01-30 13:43:09,17,2014-01-30 13:43:09,7,2014-01-30 13:43:09,47,...,55,2014-01-30 13:43:09,5,2014-01-30 13:43:10,55,2014-01-30 13:43:10,221,2014-01-30 13:43:11,241,1
17,2014-01-30 13:43:09,7,2014-01-30 13:43:09,47,2014-01-30 13:43:09,55,2014-01-30 13:43:09,5,2014-01-30 13:43:10,55,...,221,2014-01-30 13:43:11,241,2014-01-30 13:43:11,237,2014-01-30 13:43:11,236,2014-01-30 13:43:11,55,1
18,2014-01-30 13:43:09,5,2014-01-30 13:43:10,55,2014-01-30 13:43:10,221,2014-01-30 13:43:11,241,2014-01-30 13:43:11,237,...,236,2014-01-30 13:43:11,55,2014-01-30 13:43:12,235,2014-01-30 13:43:12,55,2014-01-30 13:43:12,226,1
19,2014-01-30 13:43:11,241,2014-01-30 13:43:11,237,2014-01-30 13:43:11,236,2014-01-30 13:43:11,55,2014-01-30 13:43:12,235,...,55,2014-01-30 13:43:12,226,2014-01-30 13:43:13,55,2014-01-30 13:43:14,55,2014-01-30 13:43:17,55,1
20,2014-01-30 13:43:11,55,2014-01-30 13:43:12,235,2014-01-30 13:43:12,55,2014-01-30 13:43:12,226,2014-01-30 13:43:13,55,...,55,2014-01-30 13:43:17,55,2014-01-30 13:43:20,4,2014-01-30 13:43:21,4,2014-01-30 13:43:22,4,1
21,2014-01-30 13:43:12,226,2014-01-30 13:43:13,55,2014-01-30 13:43:14,55,2014-01-30 13:43:17,55,2014-01-30 13:43:20,4,...,4,2014-01-30 13:43:22,4,2014-01-30 13:43:23,36,2014-01-30 13:43:23,207,2014-01-30 13:43:23,55,1
22,2014-01-30 13:43:17,55,2014-01-30 13:43:20,4,2014-01-30 13:43:21,4,2014-01-30 13:43:22,4,2014-01-30 13:43:23,36,...,207,2014-01-30 13:43:23,55,2014-01-30 13:43:31,7,2014-01-30 13:43:34,4,2014-01-30 13:43:35,9,1
23,2014-01-30 13:43:22,4,2014-01-30 13:43:23,36,2014-01-30 13:43:23,207,2014-01-30 13:43:23,55,2014-01-30 13:43:31,7,...,4,2014-01-30 13:43:35,9,2014-01-30 13:43:37,8,2014-01-30 13:43:45,12,2014-01-30 13:43:45,10,1
24,2014-01-30 13:43:23,55,2014-01-30 13:43:31,7,2014-01-30 13:43:34,4,2014-01-30 13:43:35,9,2014-01-30 13:43:37,8,...,12,2014-01-30 13:43:45,10,2014-01-30 13:43:45,7,2014-01-30 13:43:46,10,2014-01-30 13:43:46,13,1
25,2014-01-30 13:43:35,9,2014-01-30 13:43:37,8,2014-01-30 13:43:45,12,2014-01-30 13:43:45,10,2014-01-30 13:43:45,7,...,10,2014-01-30 13:43:46,13,2014-01-30 13:43:46,45,2014-01-30 13:43:46,12,2014-01-30 13:44:23,47,1
26,2014-01-30 13:43:45,10,2014-01-30 13:43:45,7,2014-01-30 13:43:46,10,2014-01-30 13:43:46,13,2014-01-30 13:43:46,45,...,12,2014-01-30 13:44:23,47,2014-01-30 13:46:51,4,2014-01-30 13:46:53,4,2014-01-30 13:46:54,4,1
27,2014-01-30 13:43:46,13,2014-01-30 13:43:46,45,2014-01-30 13:43:46,12,2014-01-30 13:44:23,47,2014-01-30 13:46:51,4,...,4,2014-01-30 13:46:54,4,2014-01-30 13:46:55,7,2014-01-30 13:47:03,7,NaN,NaN,1
28,2014-01-30 13:44:23,47,2014-01-30 13:46:51,4,2014-01-30 13:46:53,4,2014-01-30 13:46:54,4,2014-01-30 13:46:55,7,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
29,2014-01-30 13:46:54,4,2014-01-30 13:46:55,7,2014-01-30 13:47:03,7,2014-01-30 13:47:56,4,2014-01-30 13:47:57,7,...,7,2014-01-30 13:48:02,4,2014-01-30 13:48:02,43,2014-01-30 13:48:02,7,2014-01-30 13:48:03,43,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,2014-03-31 11:38:06,6,2014-03-31 11:38:18,6,2014-03-31 11:38:23,2,2014-03-31 11:38:23,6,2014-03-31 11:38:24,6,...,6,2014-03-31 11:38:29,6,2014-03-31 11:38:31,6,2014-03-31 11:38:33,6,2014-03-31 11:38:36,6,1
1671,2014-03-31 11:38:23,6,2014-03-31 11:38:24,6,2014-03-31 11:38:26,6,2014-03-31 11:38:29,6,2014-03-31 11:38:31,6,...,6,2014-03-31 11:38:36,6,2014-03-31 11:38:38,6,2014-03-31 11:38:41,6,2014-03-31 11:38:43,6,1
1672,2014-03-31 11:38:29,6,2014-03-31 11:38:31,6,2014-03-31 11:38:33,6,2014-03-31 11:38:36,6,2014-03-31 11:38:38,6,...,6,2014-03-31 11:38:43,6,2014-03-31 11:38:46,6,2014-03-31 11:38:48,6,2014-03-31 11:38:50,6,1
1673,2014-03-31 11:38:36,6,2014-03-31 11:38:38,6,2014-03-31 11:38:41,6,2014-03-31 11:38:43,6,2014-03-31 11:38:46,6,...,6,2014-03-31 11:38:50,6,2014-03-31 11:38:53,6,2014-03-31 11:38:53,2,2014-03-31 11:38:55,6,1
1674,2014-03-31 11:38:43,6,2014-03-31 11:38:46,6,2014-03-31 11:38:48,6,2014-03-31 11:38:50,6,2014-03-31 11:38:53,6,...,2,2014-03-31 11:38:55,6,2014-03-31 11:38:58,6,2014-03-31 11:39:01,6,2014-03-31 11:39:03,6,1
1675,2014-03-31 11:38:50,6,2014-03-31 11:38:53,6,2014-03-31 11:38:53,2,2014-03-31 11:38:55,6,2014-03-31 11:38:58,6,...,6,2014-03-31 11:39:03,6,2014-03-31 11:39:05,6,2014-03-31 11:39:08,6,2014-03-31 11:39:10,6,1
1676,2014-03-31 11:38:55,6,2014-03-31 11:38:58,6,2014-03-31 11:39:01,6,2014-03-31 11:39:03,6,2014-03-31 11:39:05,6,...,6,2014-03-31 11:39:10,6,2014-03-31 11:39:13,6,2014-03-31 11:39:15,6,2014-03-31 11:39:18,6,1
1677,2014-03-31 11:39:03,6,2014-03-31 11:39:05,6,2014-03-31 11:39:08,6,2014-03-31 11:39:10,6,2014-03-31 11:39:13,6,...,6,2014-03-31 11:39:18,6,2014-03-31 11:39:20,6,2014-03-31 11:39:23,6,2014-03-31 11:39:23,2,1
1678,2014-03-31 11:39:10,6,2014-03-31 11:39:13,6,2014-03-31 11:39:15,6,2014-03-31 11:39:18,6,2014-03-31 11:39:20,6,...,6,2014-03-31 11:39:23,2,2014-03-31 11:39:25,6,2014-03-31 11:39:28,6,2014-03-31 11:39:30,6,1
1679,2014-03-31 11:39:18,6,2014-03-31 11:39:20,6,2014-03-31 11:39:23,6,2014-03-31 11:39:23,2,2014-03-31 11:39:25,6,...,6,2014-03-31 11:39:30,6,2014-03-31 11:39:32,6,2014-03-31 11:39:35,6,2014-03-31 11:39:37,6,1
1680,2014-03-31 11:39:23,2,2014-03-31 11:39:25,6,2014-03-31 11:39:28,6,2014-03-31 11:39:30,6,2014-03-31 11:39:32,6,...,6,2014-03-31 11:39:37,6,2014-03-31 11:39:44,6,2014-03-31 11:39:45,6,2014-03-31 11:39:46,6,1
1681,2014-03-31 11:39:30,6,2014-03-31 11:39:32,6,2014-03-31 11:39:35,6,2014-03-31 11:39:37,6,2014-03-31 11:39:44,6,...,6,2014-03-31 11:39:46,6,2014-03-31 11:39:47,6,2014-03-31 11:39:48,6,2014-03-31 11:39:53,2,1
1682,2014-03-31 11:39:37,6,2014-03-31 11:39:44,6,2014-03-31 11:39:45,6,2014-03-31 11:39:46,6,2014-03-31 11:39:47,6,...,6,2014-03-31 11:39:53,2,2014-03-31 11:40:23,2,2014-03-31 11:40:53,2,2014-03-31 11:41:06,1,1
1683,2014-03-31 11:39:46,6,2014-03-31 11:39:47,6,2014-03-31 11:39:48,6,2014-03-31 11:39:53,2,2014-03-31 11:40:23,2,...,2,2014-03-31 11:41:06,1,2014-03-31 11:41:06,3,2014-03-31 11:41:23,2,2014-03-31 11:41:53,2,1
1684,2014-03-31 11:39:53,2,2014-03-31 11:40:23,2,2014-03-31 11:40:53,2,2014-03-31 11:41:06,1,2014-03-31 11:41:06,3,...,2,2014-03-31 11:41:53,2,2014-03-31 11:42:09,6,2014-03-31 11:42:18,6,2014-03-31 11:42:23,2,1
1685,2014-03-31 11:41:06,1,2014-03-31 11:41:06,3,2014-03-31 11:41:23,2,2014-03-31 11:41:53,2,2014-03-31 11:42:09,6,...,6,2014-03-31 11:42:23,2,2014-03-31 11:42:28,6,2014-03-31 11:42:53,2,2014-03-31 11:42:58,6,1
1686,2014-03-31 11:41:53,2,2014-03-31 11:42:09,6,2014-03-31 11:42:18,6,2014-03-31 11:42:23,2,2014-03-31 11:42:28,6,...,2,2014-03-31 11:42:58,6,2014-03-31 11:43:23,2,2014-03-31 11:43:53,2,2014-03-31 11:44:13,6,1
1687,2014-03-31 11:42:23,2,2014-03-31 11:42:28,6,2014-03-31 11:42:53,2,2014-03-31 11:42:58,6,2014-03-31 11:43:23,2,...,2,2014-03-31 11:44:13,6,2014-03-31 11:44:16,6,2014-03-31 11:44:23,2,2014-03-31 11:44:29,6,1
1688,2014-03-31 11:42:58,6,2014-03-31 11:43:23,2,2014-03-31 11:43:53,2,2014-03-31 11:44:13,6,2014-03-31 11:44:16,6,...,2,2014-03-31 11:44:29,6,2014-03-31 11:44:45,6,2014-03-31 11:44:53,2,2014-03-31 11:45:23,2,1
1689,2014-03-31 11:44:13,6,2014-03-31 11:44:16,6,2014-03-31 11:44:23,2,2014-03-31 11:44:29,6,2014-03-31 11:44:45,6,...,2,2014-03-31 11:45:23,2,2014-03-31 11:45:53,2,2014-03-31 11:46:23,2,2014-03-31 11:46:53,2,1
1690,2014-03-31 11:44:29,6,2014-03-31 11:44:45,6,2014-03-31 11:44:53,2,2014-03-31 11:45:23,2,2014-03-31 11:45:53,2,...,2,2014-03-31 11:46:53,2,2014-03-31 11:47:02,2,2014-03-31 11:47:02,110,2014-03-31 11:47:23,2,1
1691,2014-03-31 11:45:23,2,2014-03-31 11:45:53,2,2014-03-31 11:46:23,2,2014-03-31 11:46:53,2,2014-03-31 11:47:02,2,...,110,2014-03-31 11:47:23,2,2014-03-31 11:47:53,2,2014-03-31 11:48:23,2,NaN,NaN,1
1692,2014-03-31 11:46:53,2,2014-03-31 11:47:02,2,2014-03-31 11:47:02,110,2014-03-31 11:47:23,2,2014-03-31 11:47:53,2,...,2,2014-03-31 11:48:53,2,2014-03-31 11:49:23,2,2014-03-31 11:49:53,2,NaN,NaN,1
1693,2014-03-31 11:47:23,2,2014-03-31 11:47:53,2,2014-03-31 11:48:23,2,2014-03-31 11:48:53,2,2014-03-31 11:49:23,2,...,2,2014-03-31 11:50:23,2,2014-03-31 11:50:23,1,2014-03-31 11:50:23,3,NaN,NaN,1
1694,2014-03-31 11:48:53,2,2014-03-31 11:49:23,2,2014-03-31 11:49:53,2,2014-03-31 11:50:23,2,2014-03-31 11:50:23,1,...,3,2014-03-31 11:50:53,2,2014-03-31 11:51:24,2,2014-03-31 11:51:53,2,NaN,NaN,1
1695,2014-03-31 11:50:23,2,2014-03-31 11:50:23,1,2014-03-31 11:50:23,3,2014-03-31 11:50:53,2,2014-03-31 11:51:24,2,...,2,2014-03-31 11:52:23,2,2014-03-31 11:52:40,6,2014-03-31 11:52:49,6,2014-03-31 11:52:53,2,1
1696,2014-03-31 11:50:53,2,2014-03-31 11:51:24,2,2014-03-31 11:51:53,2,2014-03-31 11:52:23,2,2014-03-31 11:52:40,6,...,6,2014-03-31 11:52:53,2,2014-03-31 11:53:23,2,2014-03-31 11:53:51,1,2014-03-31 11:53:53,2,1
1697,2014-03-31 11:52:23,2,2014-03-31 11:52:40,6,2014-03-31 11:52:49,6,2014-03-31 11:52:53,2,2014-03-31 11:53:23,2,...,1,2014-03-31 11:53:53,2,2014-03-31 11:54:23,2,NaN,NaN,NaN,NaN,1
1698,2014-03-31 11:52:53,2,2014-03-31 11:53:23,2,2014-03-31 11:53:51,1,2014-03-31 11:53:53,2,2014-03-31 11:54:23,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1699,2014-03-31 11:53:53,2,2014-03-31 11:54:23,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [194]:
col_name=np.array([['time'+str(x),'site'+str(x)] for x in range(1,windows_size+1)]).reshape([1,2*windows_size])[0]

array(['time1', 'site1', 'time2', 'site2', 'time3', 'site3', 'time4',
       'site4', 'time5', 'site5', 'time6', 'site6', 'time7', 'site7',
       'time8', 'site8', 'time9', 'site9', 'time10', 'site10', 'user_id'],
      dtype='<U7')

In [134]:
p.shape

(9, 2)