<center>
<img src="https://habrastorage.org/web/677/8e1/337/6778e1337c3d4b159d7e99df94227cb2.jpg"/>
## Ð¡Ð¿ÐµÑÐ¸Ð°Ð»Ð¸Ð·Ð°ÑÐ¸Ñ "ÐÐ°ÑÐ¸Ð½Ð½Ð¾Ðµ Ð¾Ð±ÑÑÐµÐ½Ð¸Ðµ Ð¸ Ð°Ð½Ð°Ð»Ð¸Ð· Ð´Ð°Ð½Ð½ÑÑ"
</center>
<center>ÐÐ²ÑÐ¾Ñ Ð¼Ð°ÑÐµÑÐ¸Ð°Ð»Ð°: Ð¿ÑÐ¾Ð³ÑÐ°Ð¼Ð¼Ð¸ÑÑ-Ð¸ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°ÑÐµÐ»Ñ Mail.ru Group, ÑÑÐ°ÑÑÐ¸Ð¹ Ð¿ÑÐµÐ¿Ð¾Ð´Ð°Ð²Ð°ÑÐµÐ»Ñ Ð¤Ð°ÐºÑÐ»ÑÑÐµÑÐ° ÐÐ¾Ð¼Ð¿ÑÑÑÐµÑÐ½ÑÑ ÐÐ°ÑÐº ÐÐ¨Ð­ Ð®ÑÐ¸Ð¹ ÐÐ°ÑÐ½Ð¸ÑÐºÐ¸Ð¹

# <center> Capstone Ð¿ÑÐ¾ÐµÐºÑ â1. ÐÐ´ÐµÐ½ÑÐ¸ÑÐ¸ÐºÐ°ÑÐ¸Ñ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹ Ð¿Ð¾ Ð¿Ð¾ÑÐµÑÐµÐ½Ð½ÑÐ¼ Ð²ÐµÐ±-ÑÑÑÐ°Ð½Ð¸ÑÐ°Ð¼
<img src='http://i.istockimg.com/file_thumbview_approve/21546327/5/stock-illustration-21546327-identification-de-l-utilisateur.jpg'>

# <center>ÐÐµÐ´ÐµÐ»Ñ 5.  Ð¡Ð¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ðµ Kaggle "Identify Me If You Can"

ÐÐ° ÑÑÐ¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ðµ Ð¼Ñ Ð²ÑÐ¿Ð¾Ð¼Ð½Ð¸Ð¼ Ð¿ÑÐ¾ ÐºÐ¾Ð½ÑÐµÐ¿ÑÐ¸Ñ ÑÑÐ¾ÑÐ°ÑÑÐ¸ÑÐµÑÐºÐ¾Ð³Ð¾ Ð³ÑÐ°Ð´Ð¸ÐµÐ½ÑÐ½Ð¾Ð³Ð¾ ÑÐ¿ÑÑÐºÐ° Ð¸ Ð¾Ð¿ÑÐ¾Ð±ÑÐµÐ¼ ÐºÐ»Ð°ÑÑÐ¸ÑÐ¸ÐºÐ°ÑÐ¾Ñ Scikit-learn SGDClassifier, ÐºÐ¾ÑÐ¾ÑÑÐ¹ ÑÐ°Ð±Ð¾ÑÐ°ÐµÑ Ð½Ð°Ð¼Ð½Ð¾Ð³Ð¾ Ð±ÑÑÑÑÐµÐµ Ð½Ð° Ð±Ð¾Ð»ÑÑÐ¸Ñ Ð²ÑÐ±Ð¾ÑÐºÐ°Ñ, ÑÐµÐ¼ Ð°Ð»Ð³Ð¾ÑÐ¸ÑÐ¼Ñ, ÐºÐ¾ÑÐ¾ÑÑÐµ Ð¼Ñ ÑÐµÑÑÐ¸ÑÐ¾Ð²Ð°Ð»Ð¸ Ð½Ð° 4 Ð½ÐµÐ´ÐµÐ»Ðµ. Ð¢Ð°ÐºÐ¶Ðµ Ð¼Ñ Ð¿Ð¾Ð·Ð½Ð°ÐºÐ¾Ð¼Ð¸Ð¼ÑÑ Ñ Ð´Ð°Ð½Ð½ÑÐ¼Ð¸ [ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ](https://inclass.kaggle.com/c/identify-me-if-you-can4) Kaggle Ð¿Ð¾ Ð¸Ð´ÐµÐ½ÑÐ¸ÑÐ¸ÐºÐ°ÑÐ¸Ð¸ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹ Ð¸ ÑÐ´ÐµÐ»Ð°ÐµÐ¼ Ð² Ð½ÐµÐ¼ Ð¿ÐµÑÐ²ÑÐµ Ð¿Ð¾ÑÑÐ»ÐºÐ¸. ÐÐ¾ Ð¸ÑÐ¾Ð³Ð°Ð¼ ÑÑÐ¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ð¸ Ð´Ð¾Ð¿Ð¾Ð»Ð½Ð¸ÑÐµÐ»ÑÐ½ÑÐµ Ð±Ð°Ð»Ð»Ñ Ð¿Ð¾Ð»ÑÑÐ°Ñ ÑÐµ, ÐºÑÐ¾ Ð¿Ð¾Ð¿Ð°Ð´ÐµÑ Ð² ÑÐ¾Ð¿-30 Ð¿ÑÐ±Ð»Ð¸ÑÐ½Ð¾Ð³Ð¾ Ð»Ð¸Ð´ÐµÑÐ±Ð¾ÑÐ´Ð° ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ.

**Ð ÑÑÐ¾Ð¹ ÑÐ°ÑÑÐ¸ Ð¿ÑÐ¾ÐµÐºÑÐ° ÐÐ°Ð¼ Ð¼Ð¾Ð³ÑÑ Ð±ÑÑÑ Ð¿Ð¾Ð»ÐµÐ·Ð½Ñ Ð²Ð¸Ð´ÐµÐ¾Ð·Ð°Ð¿Ð¸ÑÐ¸ ÑÐ»ÐµÐ´ÑÑÑÐ¸Ñ Ð»ÐµÐºÑÐ¸Ð¹ ÐºÑÑÑÐ° "ÐÐ±ÑÑÐµÐ½Ð¸Ðµ Ð½Ð° ÑÐ°Ð·Ð¼ÐµÑÐµÐ½Ð½ÑÑ Ð´Ð°Ð½Ð½ÑÑ":**
   - [Ð¡ÑÐ¾ÑÐ°ÑÐ¸ÑÐµÑÐºÐ¸Ð¹ Ð³ÑÐ°Ð´Ð¸ÐµÐ½ÑÐ½ÑÐ¹ ÑÐ¿ÑÑÐº](https://www.coursera.org/learn/supervised-learning/lecture/xRY50/stokhastichieskii-ghradiientnyi-spusk)
   - [ÐÐ¸Ð½ÐµÐ¹Ð½ÑÐµ Ð¼Ð¾Ð´ÐµÐ»Ð¸. Sklearn.linear_model. ÐÐ»Ð°ÑÑÐ¸ÑÐ¸ÐºÐ°ÑÐ¸Ñ](https://www.coursera.org/learn/supervised-learning/lecture/EBg9t/linieinyie-modieli-sklearn-linear-model-klassifikatsiia)
   
**Ð¢Ð°ÐºÐ¶Ðµ ÑÐµÐºÐ¾Ð¼ÐµÐ½Ð´ÑÐµÑÑÑ Ð²ÐµÑÐ½ÑÑÑÑÑ Ð¸ Ð¿ÑÐ¾ÑÐ¼Ð¾ÑÑÐµÑÑ [Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ](https://www.coursera.org/learn/supervised-learning/programming/t2Idc/linieinaia-rieghriessiia-i-stokhastichieskii-ghradiientnyi-spusk) "ÐÐ¸Ð½ÐµÐ¹Ð½Ð°Ñ ÑÐµÐ³ÑÐµÑÑÐ¸Ñ Ð¸ ÑÑÐ¾ÑÐ°ÑÑÐ¸ÑÐµÑÐºÐ¸Ð¹ Ð³ÑÐ°Ð´Ð¸ÐµÐ½ÑÐ½ÑÐ¹ ÑÐ¿ÑÑÐº" 1 Ð½ÐµÐ´ÐµÐ»Ð¸ 2 ÐºÑÑÑÐ° ÑÐ¿ÐµÑÐ¸Ð°Ð»Ð¸Ð·Ð°ÑÐ¸Ð¸.**

In [1]:
#!ls

In [2]:
#!unzip "*.zip"

In [3]:
from __future__ import division, print_function
# Ð¾ÑÐºÐ»ÑÑÐ¸Ð¼ Ð²ÑÑÐºÐ¸Ðµ Ð¿ÑÐµÐ´ÑÐ¿ÑÐµÐ¶Ð´ÐµÐ½Ð¸Ñ Anaconda
import warnings
warnings.filterwarnings('ignore')
import os
import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [4]:
from sklearn.model_selection import cross_val_score

In [5]:
from collections import Counter 
import operator

In [6]:
import datetime
from scipy.sparse import hstack
from sklearn.preprocessing import OneHotEncoder, StandardScaler

**Ð¡ÑÐ¸ÑÐ°ÐµÐ¼ Ð´Ð°Ð½Ð½ÑÐµ [ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ](https://inclass.kaggle.com/c/identify-me-if-you-can4/data) Ð² DataFrame train_df Ð¸ test_df (Ð¾Ð±ÑÑÐ°ÑÑÐ°Ñ Ð¸ ÑÐµÑÑÐ¾Ð²Ð°Ñ Ð²ÑÐ±Ð¾ÑÐºÐ¸).**

In [7]:
# ÐÐ¾Ð¼ÐµÐ½ÑÐ¹ÑÐµ Ð½Ð° ÑÐ²Ð¾Ð¹ Ð¿ÑÑÑ Ðº Ð´Ð°Ð½Ð½ÑÐ¼
PATH_TO_DATA = '.'

In [8]:
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'),
                       index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'),
                      index_col='session_id')

In [9]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,user_id
session_id,,,,,,,,,,,,,,,,,,,,,
1,23713,2014-03-24 15:22:40,23720.0,2014-03-24 15:22:48,23713.0,2014-03-24 15:22:48,23713.0,2014-03-24 15:22:54,23720.0,2014-03-24 15:22:54,...,2014-03-24 15:22:55,23713.0,2014-03-24 15:23:01,23713.0,2014-03-24 15:23:03,23713.0,2014-03-24 15:23:04,23713.0,2014-03-24 15:23:05,653
2,8726,2014-04-17 14:25:58,8725.0,2014-04-17 14:25:59,665.0,2014-04-17 14:25:59,8727.0,2014-04-17 14:25:59,45.0,2014-04-17 14:25:59,...,2014-04-17 14:26:01,45.0,2014-04-17 14:26:01,5320.0,2014-04-17 14:26:18,5320.0,2014-04-17 14:26:47,5320.0,2014-04-17 14:26:48,198
3,303,2014-03-21 10:12:24,19.0,2014-03-21 10:12:36,303.0,2014-03-21 10:12:54,303.0,2014-03-21 10:13:01,303.0,2014-03-21 10:13:24,...,2014-03-21 10:13:36,303.0,2014-03-21 10:13:54,309.0,2014-03-21 10:14:01,303.0,2014-03-21 10:14:06,303.0,2014-03-21 10:14:24,34
4,1359,2013-12-13 09:52:28,925.0,2013-12-13 09:54:34,1240.0,2013-12-13 09:54:34,1360.0,2013-12-13 09:54:34,1344.0,2013-12-13 09:54:34,...,2013-12-13 09:54:34,1346.0,2013-12-13 09:54:34,1345.0,2013-12-13 09:54:34,1344.0,2013-12-13 09:58:19,1345.0,2013-12-13 09:58:19,601
5,11,2013-11-26 12:35:29,85.0,2013-11-26 12:35:31,52.0,2013-11-26 12:35:31,85.0,2013-11-26 12:35:32,11.0,2013-11-26 12:35:32,...,2013-11-26 12:35:32,11.0,2013-11-26 12:37:03,85.0,2013-11-26 12:37:03,10.0,2013-11-26 12:37:03,85.0,2013-11-26 12:37:04,273

**ÐÐ±ÑÐµÐ´Ð¸Ð½Ð¸Ð¼ Ð¾Ð±ÑÑÐ°ÑÑÑÑ Ð¸ ÑÐµÑÑÐ¾Ð²ÑÑ Ð²ÑÐ±Ð¾ÑÐºÐ¸ â ÑÑÐ¾ Ð¿Ð¾Ð½Ð°Ð´Ð¾Ð±Ð¸ÑÑÑ, ÑÑÐ¾Ð± Ð²Ð¼ÐµÑÑÐµ Ð¿Ð¾ÑÐ¾Ð¼ Ð¿ÑÐ¸Ð²ÐµÑÑÐ¸ Ð¸Ñ Ðº ÑÐ°Ð·ÑÐµÐ¶ÐµÐ½Ð½Ð¾Ð¼Ñ ÑÐ¾ÑÐ¼Ð°ÑÑ.**

In [10]:
train_test_df = pd.concat([train_df, test_df])

In [11]:
train_test_df.head()

,site1,site10,site2,site3,site4,site5,site6,site7,site8,site9,...,time10,time2,time3,time4,time5,time6,time7,time8,time9,user_id
session_id,,,,,,,,,,,,,,,,,,,,,
1,23713,23713.0,23720.0,23713.0,23713.0,23720.0,23713.0,23713.0,23713.0,23713.0,...,2014-03-24 15:23:05,2014-03-24 15:22:48,2014-03-24 15:22:48,2014-03-24 15:22:54,2014-03-24 15:22:54,2014-03-24 15:22:55,2014-03-24 15:23:01,2014-03-24 15:23:03,2014-03-24 15:23:04,653.0
2,8726,5320.0,8725.0,665.0,8727.0,45.0,8725.0,45.0,5320.0,5320.0,...,2014-04-17 14:26:48,2014-04-17 14:25:59,2014-04-17 14:25:59,2014-04-17 14:25:59,2014-04-17 14:25:59,2014-04-17 14:26:01,2014-04-17 14:26:01,2014-04-17 14:26:18,2014-04-17 14:26:47,198.0
3,303,303.0,19.0,303.0,303.0,303.0,303.0,303.0,309.0,303.0,...,2014-03-21 10:14:24,2014-03-21 10:12:36,2014-03-21 10:12:54,2014-03-21 10:13:01,2014-03-21 10:13:24,2014-03-21 10:13:36,2014-03-21 10:13:54,2014-03-21 10:14:01,2014-03-21 10:14:06,34.0
4,1359,1345.0,925.0,1240.0,1360.0,1344.0,1359.0,1346.0,1345.0,1344.0,...,2013-12-13 09:58:19,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:54:34,2013-12-13 09:58:19,601.0
5,11,85.0,85.0,52.0,85.0,11.0,52.0,11.0,85.0,10.0,...,2013-11-26 12:37:04,2013-11-26 12:35:31,2013-11-26 12:35:31,2013-11-26 12:35:32,2013-11-26 12:35:32,2013-11-26 12:35:32,2013-11-26 12:37:03,2013-11-26 12:37:03,2013-11-26 12:37:03,273.0

Ð Ð¾Ð±ÑÑÐ°ÑÑÐµÐ¹ Ð²ÑÐ±Ð¾ÑÐºÐµ Ð²Ð¸Ð´Ð¸Ð¼ ÑÐ»ÐµÐ´ÑÑÑÐ¸Ðµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸:
    - site1 â Ð¸Ð½Ð´ÐµÐºÑ Ð¿ÐµÑÐ²Ð¾Ð³Ð¾ Ð¿Ð¾ÑÐµÑÐµÐ½Ð½Ð¾Ð³Ð¾ ÑÐ°Ð¹ÑÐ° Ð² ÑÐµÑÑÐ¸Ð¸
    - time1 â Ð²ÑÐµÐ¼Ñ Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ñ Ð¿ÐµÑÐ²Ð¾Ð³Ð¾ ÑÐ°Ð¹ÑÐ° Ð² ÑÐµÑÑÐ¸Ð¸
    - ...
    - site10 â Ð¸Ð½Ð´ÐµÐºÑ 10-Ð³Ð¾ Ð¿Ð¾ÑÐµÑÐµÐ½Ð½Ð¾Ð³Ð¾ ÑÐ°Ð¹ÑÐ° Ð² ÑÐµÑÑÐ¸Ð¸
    - time10 â Ð²ÑÐµÐ¼Ñ Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ñ 10-Ð³Ð¾ ÑÐ°Ð¹ÑÐ° Ð² ÑÐµÑÑÐ¸Ð¸
    - user_id â ID Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ñ
    
Ð¡ÐµÑÑÐ¸Ð¸ Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹ Ð²ÑÐ´ÐµÐ»ÐµÐ½Ñ ÑÐ°ÐºÐ¸Ð¼ Ð¾Ð±ÑÐ°Ð·Ð¾Ð¼, ÑÑÐ¾ Ð¾Ð½Ð¸ Ð½Ðµ Ð¼Ð¾Ð³ÑÑ Ð±ÑÑÑ Ð´Ð»Ð¸Ð½Ð½ÐµÐµ Ð¿Ð¾Ð»ÑÑÐ°ÑÐ° Ð¸Ð»Ð¸ 10 ÑÐ°Ð¹ÑÐ¾Ð². Ð¢Ð¾ ÐµÑÑÑ ÑÐµÑÑÐ¸Ñ ÑÑÐ¸ÑÐ°ÐµÑÑÑ Ð¾ÐºÐ¾Ð½ÑÐµÐ½Ð½Ð¾Ð¹ Ð»Ð¸Ð±Ð¾ ÐºÐ¾Ð³Ð´Ð° Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ñ Ð¿Ð¾ÑÐµÑÐ¸Ð» 10 ÑÐ°Ð¹ÑÐ¾Ð² Ð¿Ð¾Ð´ÑÑÐ´, Ð»Ð¸Ð±Ð¾ ÐºÐ¾Ð³Ð´Ð° ÑÐµÑÑÐ¸Ñ Ð·Ð°Ð½ÑÐ»Ð° Ð¿Ð¾ Ð²ÑÐµÐ¼ÐµÐ½Ð¸ Ð±Ð¾Ð»ÐµÐµ 30 Ð¼Ð¸Ð½ÑÑ.

**ÐÐ¾ÑÐ¼Ð¾ÑÑÐ¸Ð¼ Ð½Ð° ÑÑÐ°ÑÐ¸ÑÑÐ¸ÐºÑ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¾Ð².**

ÐÑÐ¾Ð¿ÑÑÐºÐ¸ Ð²Ð¾Ð·Ð½Ð¸ÐºÐ°ÑÑ ÑÐ°Ð¼, Ð³Ð´Ðµ ÑÐµÑÑÐ¸Ð¸ ÐºÐ¾ÑÐ¾ÑÐºÐ¸Ðµ (Ð¼ÐµÐ½ÐµÐµ 10 ÑÐ°Ð¹ÑÐ¾Ð²). Ð¡ÐºÐ°Ð¶ÐµÐ¼, ÐµÑÐ»Ð¸ ÑÐµÐ»Ð¾Ð²ÐµÐº 1 ÑÐ½Ð²Ð°ÑÑ 2015 Ð³Ð¾Ð´Ð° Ð¿Ð¾ÑÐµÑÐ¸Ð» *vk.com* Ð² 20:01, Ð¿Ð¾ÑÐ¾Ð¼ *yandex.ru* Ð² 20:29, Ð·Ð°ÑÐµÐ¼ *google.com* Ð² 20:33, ÑÐ¾ Ð¿ÐµÑÐ²Ð°Ñ ÐµÐ³Ð¾ ÑÐµÑÑÐ¸Ñ Ð±ÑÐ´ÐµÑ ÑÐ¾ÑÑÐ¾ÑÑÑ ÑÐ¾Ð»ÑÐºÐ¾ Ð¸Ð· Ð´Ð²ÑÑ ÑÐ°Ð¹ÑÐ¾Ð² (site1 â ID ÑÐ°Ð¹ÑÐ° *vk.com*, time1 â 2015-01-01 20:01:00, site2 â ID ÑÐ°Ð¹ÑÐ°  *yandex.ru*, time2 â 2015-01-01 20:29:00, Ð¾ÑÑÐ°Ð»ÑÐ½ÑÐµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸ â NaN), Ð° Ð½Ð°ÑÐ¸Ð½Ð°Ñ Ñ *google.com* Ð¿Ð¾Ð¹Ð´ÐµÑ Ð½Ð¾Ð²Ð°Ñ ÑÐµÑÑÐ¸Ñ, Ð¿Ð¾ÑÐ¾Ð¼Ñ ÑÑÐ¾ ÑÐ¶Ðµ Ð¿ÑÐ¾ÑÐ»Ð¾ Ð±Ð¾Ð»ÐµÐµ 30 Ð¼Ð¸Ð½ÑÑ Ñ Ð¼Ð¾Ð¼ÐµÐ½ÑÐ° Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ñ *vk.com*.

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182793 entries, 1 to 182793
Data columns (total 21 columns):
site1      182793 non-null int64
time1      182793 non-null object
site2      181175 non-null float64
time2      181175 non-null object
site3      179441 non-null float64
time3      179441 non-null object
site4      178054 non-null float64
time4      178054 non-null object
site5      176653 non-null float64
time5      176653 non-null object
site6      175268 non-null float64
time6      175268 non-null object
site7      173960 non-null float64
time7      173960 non-null object
site8      172738 non-null float64
time8      172738 non-null object
site9      171437 non-null float64
time9      171437 non-null object
site10     170247 non-null float64
time10     170247 non-null object
user_id    182793 non-null int64
dtypes: float64(9), int64(2), object(10)
memory usage: 30.7+ MB

In [13]:
test_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,9,2014-10-04 12:24:43,304.0,2014-10-04 12:25:34,308.0,2014-10-04 12:28:33,307.0,2014-10-04 12:28:33,91.0,2014-10-04 12:28:33,308.0,2014-10-04 12:28:34,312.0,2014-10-04 12:30:31,300.0,2014-10-04 12:31:30,305.0,2014-10-04 12:32:31,309.0,2014-10-04 12:34:31
2,838,2014-12-02 09:20:37,504.0,2014-12-02 09:20:38,68.0,2014-12-02 09:20:38,11.0,2014-12-02 09:20:38,838.0,2014-12-02 09:20:38,11.0,2014-12-02 09:20:40,838.0,2014-12-02 09:20:41,886.0,2014-12-02 09:20:42,27.0,2014-12-02 09:20:42,305.0,2014-12-02 09:20:42
3,190,2014-10-01 09:27:38,192.0,2014-10-01 09:27:38,8.0,2014-10-01 09:27:38,189.0,2014-10-01 09:27:38,191.0,2014-10-01 09:27:39,189.0,2014-10-01 09:27:39,190.0,2014-10-01 09:27:39,2375.0,2014-10-01 09:27:39,192.0,2014-10-01 09:27:39,8.0,2014-10-01 09:27:39
4,295,2014-10-02 14:34:17,295.0,2014-10-02 14:34:18,295.0,2014-10-02 14:34:19,295.0,2014-10-02 14:34:20,295.0,2014-10-02 14:34:21,295.0,2014-10-02 14:34:22,295.0,2014-10-02 14:34:23,295.0,2014-10-02 14:34:24,295.0,2014-10-02 14:34:25,295.0,2014-10-02 14:34:26
5,31,2014-05-19 17:50:21,3177.0,2014-05-19 17:50:21,3174.0,2014-05-19 17:50:21,32434.0,2014-05-19 17:50:22,27.0,2014-05-19 17:50:22,31.0,2014-05-19 17:50:22,5698.0,2014-05-19 17:50:25,5698.0,2014-05-19 17:50:26,5698.0,2014-05-19 17:50:27,4173.0,2014-05-19 17:50:27

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46473 entries, 1 to 46473
Data columns (total 20 columns):
site1     46473 non-null int64
time1     46473 non-null object
site2     46048 non-null float64
time2     46048 non-null object
site3     45643 non-null float64
time3     45643 non-null object
site4     45321 non-null float64
time4     45321 non-null object
site5     44985 non-null float64
time5     44985 non-null object
site6     44687 non-null float64
time6     44687 non-null object
site7     44401 non-null float64
time7     44401 non-null object
site8     44108 non-null float64
time8     44108 non-null object
site9     43828 non-null float64
time9     43828 non-null object
site10    43542 non-null float64
time10    43542 non-null object
dtypes: float64(9), int64(1), object(10)
memory usage: 7.4+ MB

**Ð Ð¾Ð±ÑÑÐ°ÑÑÐµÐ¹ Ð²ÑÐ±Ð¾ÑÐºÐµ â 400 Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÐµÐ¹.**

In [15]:
train_df['user_id'].nunique()

400

In [16]:
train_df['user_id'].value_counts().head()

149    4205
405    2592
984    2399
361    2297
884    2278
Name: user_id, dtype: int64

**ÐÐ¾ÐºÐ° Ð´Ð»Ñ Ð¿ÑÐ¾Ð³Ð½Ð¾Ð·Ð° ID Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»Ñ Ð±ÑÐ´ÐµÐ¼ Ð¸ÑÐ¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÑ ÑÐ¾Ð»ÑÐºÐ¾ Ð¸Ð½Ð´ÐµÐºÑÑ Ð¿Ð¾ÑÐµÑÐµÐ½Ð½ÑÑ ÑÐ°Ð¹ÑÐ¾Ð². ÐÐ½Ð´ÐµÐºÑÑ Ð½ÑÐ¼ÐµÑÐ¾Ð²Ð°Ð»Ð¸ÑÑ Ñ 1, ÑÐ°Ðº ÑÑÐ¾ Ð·Ð°Ð¼ÐµÐ½Ð¸Ð¼ Ð¿ÑÐ¾Ð¿ÑÑÐºÐ¸ Ð½Ð° Ð½ÑÐ»Ð¸.**

In [17]:
train_test_df_sites = train_test_df[['site1', 'site2', 'site3', 
                                     'site4','site5', 
                                     'site6','site7', 'site8', 
                                     'site9', 'site10']].fillna(0).astype('int')

In [18]:
train_test_df_sites.head(10)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
1,23713,23720,23713,23713,23720,23713,23713,23713,23713,23713
2,8726,8725,665,8727,45,8725,45,5320,5320,5320
3,303,19,303,303,303,303,303,309,303,303
4,1359,925,1240,1360,1344,1359,1346,1345,1344,1345
5,11,85,52,85,11,52,11,85,10,85
6,83,1344,1240,1359,1345,85,1346,83,925,1359
7,13585,13585,13585,13585,13585,13585,13585,13585,13586,13585
8,29312,29311,29312,29312,0,0,0,0,0,0
9,21,62,18,1387,7,72,1386,1384,10,22
10,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563

**Ð¡Ð¾Ð·Ð´Ð°Ð¹ÑÐµ ÑÐ°Ð·ÑÐµÐ¶ÐµÐ½Ð½ÑÐµ Ð¼Ð°ÑÑÐ¸ÑÑ *X_train_sparse* Ð¸ *X_test_sparse* Ð°Ð½Ð°Ð»Ð¾Ð³Ð¸ÑÐ½Ð¾ ÑÐ¾Ð¼Ñ, ÐºÐ°Ðº Ð¼Ñ ÑÑÐ¾ Ð´ÐµÐ»Ð°Ð»Ð¸ ÑÐ°Ð½ÐµÐµ. ÐÑÐ¿Ð¾Ð»ÑÐ·ÑÐ¹ÑÐµ Ð¾Ð±ÑÐµÐ´Ð¸Ð½ÐµÐ½Ð½ÑÑ Ð¼Ð°ÑÑÐ¸ÑÑ *train_test_df_sites*, Ð¿Ð¾ÑÐ¾Ð¼ ÑÐ°Ð·Ð´ÐµÐ»Ð¸ÑÐµ Ð¾Ð±ÑÐ°ÑÐ½Ð¾ Ð½Ð° Ð¾Ð±ÑÑÐ°ÑÑÑÑ Ð¸ ÑÐµÑÑÐ¾Ð²ÑÑ ÑÐ°ÑÑÐ¸.**

ÐÐ±ÑÐ°ÑÐ¸ÑÐµ Ð²Ð½Ð¸Ð¼Ð°Ð½Ð¸Ðµ Ð½Ð° ÑÐ¾, ÑÑÐ¾ Ð²  ÑÐµÑÑÐ¸ÑÑ Ð¼ÐµÐ½ÑÑÐµ 10 ÑÐ°Ð¹ÑÐ¾Ð²  Ñ Ð½Ð°Ñ Ð¾ÑÑÐ°Ð»Ð¸ÑÑ Ð½ÑÐ»Ð¸, ÑÐ°Ðº ÑÑÐ¾ Ð¿ÐµÑÐ²ÑÐ¹ Ð¿ÑÐ¸Ð·Ð½Ð°Ðº (ÑÐºÐ¾Ð»ÑÐºÐ¾ ÑÐ°Ð· Ð¿Ð¾Ð¿Ð°Ð»ÑÑ 0) Ð¿Ð¾ ÑÐ¼ÑÑÐ»Ñ Ð¾ÑÐ»Ð¸ÑÐµÐ½ Ð¾Ñ Ð¾ÑÑÐ°Ð»ÑÐ½ÑÑ (ÑÐºÐ¾Ð»ÑÐºÐ¾ ÑÐ°Ð· Ð¿Ð¾Ð¿Ð°Ð»ÑÑ ÑÐ°Ð¹Ñ Ñ Ð¸Ð½Ð´ÐµÐºÑÐ¾Ð¼ $i$). ÐÐ¾ÑÑÐ¾Ð¼Ñ Ð¿ÐµÑÐ²ÑÐ¹ ÑÑÐ¾Ð»Ð±ÐµÑ ÑÐ°Ð·ÑÐµÐ¶ÐµÐ½Ð½Ð¾Ð¹ Ð¼Ð°ÑÑÐ¸ÑÑ Ð½Ð°Ð´Ð¾ Ð±ÑÐ´ÐµÑ ÑÐ´Ð°Ð»Ð¸ÑÑ.

**ÐÑÐ´ÐµÐ»Ð¸ÑÐµ Ð² Ð¾ÑÐ´ÐµÐ»ÑÐ½ÑÐ¹ Ð²ÐµÐºÑÐ¾Ñ *y* Ð¾ÑÐ²ÐµÑÑ Ð½Ð° Ð¾Ð±ÑÑÐ°ÑÑÐµÐ¹ Ð²ÑÐ±Ð¾ÑÐºÐµ.**

In [19]:
def sparse_data(matrix, verbose=None):
    '''Ð¤ÑÐ½ÐºÑÐ¸Ñ Ð¿ÑÐ¸Ð½Ð¸Ð¼Ð°ÐµÑ Ð½Ð° Ð²ÑÐ¾Ð´ DataFrame, Ð² ÐºÐ¾ÑÐ¾ÑÐ¾Ð¼ ÑÑÑÐ¾ÐºÐ¸ ÑÐ¾Ð¾ÑÐ²ÐµÑÑÑÐ²ÑÑÑ ÑÐ½Ð¸ÐºÐ°Ð»ÑÐ½ÑÐ¼ ÑÐµÑÑÐ¸ÑÐ¼. \
    ÐÐ¾Ð·Ð²ÑÐ°ÑÐ°ÐµÑ ÑÐ°Ð·ÑÑÐ¶ÐµÐ½Ð½ÑÑ Ð¼Ð°ÑÑÐ¸ÑÑ, Ð² ÐºÐ¾ÑÐ¾ÑÐ¾Ð¹ ÑÑÑÐ¾ÐºÐ°Ð¼ Ð±ÑÐ´ÑÑ ÑÐ¾Ð¾ÑÐ²ÐµÑÑÑÐ²Ð¾Ð²Ð°ÑÑ ÑÐµÑÑÐ¸Ð¸ Ð¸Ð· n ÑÐ°Ð¹ÑÐ¾Ð², \
    Ð° ÑÑÐ¾Ð»Ð±ÑÐ°Ð¼ â Ð¸Ð½Ð´ÐµÐºÑÑ ÑÐ°Ð¹ÑÐ¾Ð². ÐÐ° Ð¿ÐµÑÐµÑÐµÑÐµÐ½Ð¸Ð¸ ÑÑÑÐ¾ÐºÐ¸  i  Ð¸ ÑÑÐ¾Ð»Ð±ÑÐ°  j  Ð±ÑÐ´ÐµÑ ÑÑÐ¾ÑÑÑ ÑÐ¸ÑÐ»Ð¾  nij \
    â cÐºÐ¾Ð»ÑÐºÐ¾ ÑÐ°Ð· ÑÐ°Ð¹Ñ  j  Ð²ÑÑÑÐµÑÐ¸Ð»ÑÑ Ð² ÑÐµÑÑÐ¸Ð¸ Ð½Ð¾Ð¼ÐµÑ  i
    
    ÐÐ°Ð¿Ð¾Ð»Ð½ÑÐµÐ¼ ÑÐ°Ð·ÑÐµÐ¶ÐµÐ½Ð½ÑÑ Ð¼Ð°ÑÑÐ¸ÑÑ Ð¼ÐµÑÐ¾Ð´Ð¾Ð¼ ÑÐºÐ°Ð·Ð°Ð½Ð¸Ñ row Ð¸ col Ð½ÐµÐ½ÑÐ»ÐµÐ²ÑÑ ÑÐ»ÐµÐ¼ÐµÐ½ÑÐ¾Ð², Ð¸ ÑÐºÐ°Ð·Ð°Ð½Ð¸Ñ Ð·Ð½Ð°ÑÐµÐ½Ð¸Ð¹\
    ÑÑÐ¸Ñ Ð½ÐµÐ½ÑÐ»ÐµÐ²ÑÑ ÑÐ»ÐµÐ¼ÐµÐ½ÑÐ¾Ð²'''
    
    R = len(matrix)
    C = max(list(matrix.max(axis=0)))
    #Ð±ÐµÑÐµÐ¼ Ð²ÑÐµ ÑÑÐ¾Ð»Ð±ÑÑ ÐºÑÐ¾Ð¼Ðµ Ð¿Ð¾ÑÐ»ÐµÐ´Ð½ÐµÐ³Ð¾ (Ð³Ð´Ðµ Ð½Ð¾Ð¼ÐµÑÐ° ÑÐµÑÑÐ¸Ð¹)
    matrix_ilocked = matrix.values
    if verbose:
        print('Prepairing rows')
    row = []
    for i in range(R):
        row += [i for x in range(len(Counter(matrix_ilocked[i])))]
    if verbose:
        print('Prepairing cols')
    col = []
    for i in range(R):
        col += [x[0] for x in sorted(Counter(matrix_ilocked[i]).items(), key=operator.itemgetter(0))]
    if verbose:
        print('Prepairing data')
    data = []
    for i in range(R):
        data += [x[1] for x in sorted(Counter(matrix_ilocked[i]).items(), key=operator.itemgetter(0))]
    if verbose:
        print('Creating sparse matrix')
    sparse = csr_matrix((data, (row, col)), shape=(R, C+1))
    if verbose:
        print('Done')
    return sparse[:, 1:]

In [20]:
X_train_test_sparse = sparse_data(train_test_df_sites, verbose=True)
X_train_sparse = X_train_test_sparse[:train_df.shape[0]]
X_test_sparse = X_train_test_sparse[train_df.shape[0]:]

Prepairing rows
Prepairing cols
Prepairing data
Creating sparse matrix
Done

In [21]:
y = train_df['user_id'].values

**1. ÐÑÐ²ÐµÐ´Ð¸ÑÐµ ÑÐ°Ð·Ð¼ÐµÑÐ½Ð¾ÑÑÐ¸ Ð¼Ð°ÑÑÐ¸Ñ *X_train_sparse* Ð¸ *X_test_sparse* â 4 ÑÐ¸ÑÐ»Ð° Ð½Ð° Ð¾Ð´Ð½Ð¾Ð¹ ÑÑÑÐ¾ÐºÐµ ÑÐµÑÐµÐ· Ð¿ÑÐ¾Ð±ÐµÐ»: ÑÐ¸ÑÐ»Ð¾ ÑÑÑÐ¾Ðº Ð¸ ÑÑÐ¾Ð»Ð±ÑÐ¾Ð² Ð¼Ð°ÑÑÐ¸ÑÑ *X_train_sparse*, Ð·Ð°ÑÐµÐ¼ ÑÐ¸ÑÐ»Ð¾ ÑÑÑÐ¾Ðº Ð¸ ÑÑÐ¾Ð»Ð±ÑÐ¾Ð² Ð¼Ð°ÑÑÐ¸ÑÑ *X_test_sparse*.**

In [22]:
print('{0} {1} {2} {3}'.format(X_train_sparse.shape[0], X_train_sparse.shape[1], X_test_sparse.shape[0], X_test_sparse.shape[1]))

182793 36656 46473 36656

**Ð¡Ð¾ÑÑÐ°Ð½Ð¸Ð¼ Ð² pickle-ÑÐ°Ð¹Ð»Ñ Ð¾Ð±ÑÐµÐºÑÑ *X_train_sparse*, *X_test_sparse* Ð¸ *y* (Ð¿Ð¾ÑÐ»ÐµÐ´Ð½Ð¸Ð¹ â Ð² ÑÐ°Ð¹Ð» *train_target.pkl*).**

In [23]:
with open(os.path.join(PATH_TO_DATA, 'X_train_sparse.pkl'), 'wb') as X_train_sparse_pkl:
    pickle.dump(X_train_sparse, X_train_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'X_test_sparse.pkl'), 'wb') as X_test_sparse_pkl:
    pickle.dump(X_test_sparse, X_test_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'train_target.pkl'), 'wb') as train_target_pkl:
    pickle.dump(y, train_target_pkl, protocol=2)

**Ð Ð°Ð·Ð¾Ð±ÑÐµÐ¼ Ð¾Ð±ÑÑÐ°ÑÑÑÑ Ð²ÑÐ±Ð¾ÑÐºÑ Ð½Ð° 2 ÑÐ°ÑÑÐ¸ Ð² Ð¿ÑÐ¾Ð¿Ð¾ÑÑÐ¸Ð¸ 7/3.**

In [24]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train_sparse, y, test_size=0.3, 
                                                     random_state=17, stratify=y)

**Ð¡Ð¾Ð·Ð´Ð°Ð¹ÑÐµ Ð¾Ð±ÑÐµÐºÑÑ `sklearn.linear_model.SGDClassifier` Ñ Ð»Ð¾Ð³Ð¸ÑÑÐ¸ÑÐµÑÐºÐ¾Ð¹ ÑÑÐ½ÐºÑÐ¸ÐµÐ¹ Ð¿Ð¾ÑÐµÑÑ Ð¸ Ñ *hinge loss* (Ð»Ð¾Ð³Ð¸ÑÑÐ¸ÑÐµÑÐºÐ°Ñ ÑÐµÐ³ÑÐµÑÑÐ¸Ñ Ð¸ Ð»Ð¸Ð½ÐµÐ¹Ð½ÑÐ¹ SVM ÑÐ¾Ð¾ÑÐ²ÐµÑÑÑÐ²ÐµÐ½Ð½Ð¾) Ð¸ Ð¿Ð°ÑÐ°Ð¼ÐµÑÑÐ¾Ð¼ `random_state`=17. ÐÑÑÐ°Ð»ÑÐ½ÑÐµ Ð¿Ð°ÑÐ°Ð¼ÐµÑÑÑ Ð¾ÑÑÐ°Ð²ÑÑÐµ Ð¿Ð¾ ÑÐ¼Ð¾Ð»ÑÐ°Ð½Ð¸Ñ, ÑÐ°Ð·Ð²Ðµ ÑÑÐ¾ `n_jobs`=-1 Ð½Ð¸ÐºÐ¾Ð³Ð´Ð° Ð½Ðµ Ð¿Ð¾Ð¼ÐµÑÐ°ÐµÑ. ÐÐ±ÑÑÐ¸ÑÐµ  Ð¼Ð¾Ð´ÐµÐ»Ð¸ Ð½Ð° Ð²ÑÐ±Ð¾ÑÐºÐµ `(X_train, y_train)`.**

In [25]:
sgd_logit = SGDClassifier(loss='log', random_state=17, n_jobs=-1)

In [26]:
%%time
sgd_logit.fit(X_train, y_train)

CPU times: user 1min, sys: 2min 2s, total: 3min 3s
Wall time: 24.1 s

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='log', n_iter=5, n_jobs=-1,
       penalty='l2', power_t=0.5, random_state=17, shuffle=True, verbose=0,
       warm_start=False)

In [27]:
sgd_svm = SGDClassifier(loss='hinge', random_state=17, n_jobs=-1)

In [28]:
%%time
sgd_svm.fit(X_train, y_train)

CPU times: user 38.5 s, sys: 1min 39s, total: 2min 18s
Wall time: 18.4 s

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', n_iter=5, n_jobs=-1,
       penalty='l2', power_t=0.5, random_state=17, shuffle=True, verbose=0,
       warm_start=False)

**Ð¡Ð´ÐµÐ»Ð°ÐµÐ¼ Ð¿ÑÐ¾Ð³Ð½Ð¾Ð·Ñ Ñ Ð¿Ð¾Ð¼Ð¾ÑÑÑ Ð¾Ð±ÐµÐ¸Ñ Ð¼Ð¾Ð´ÐµÐ»ÐµÐ¹ Ð½Ð° Ð¾ÑÐ»Ð¾Ð¶ÐµÐ½Ð½Ð¾Ð¹ Ð²ÑÐ±Ð¾ÑÐºÐµ *(X_valid, y_valid)*.**

In [29]:
logit_valid_pred = sgd_logit.predict(X_valid)
svm_valid_pred = sgd_svm.predict(X_valid)

**2. ÐÐ°Ð¿ÐµÑÐ°ÑÐ°Ð¹ÑÐµ ÑÐµÑÐµÐ· Ð¿ÑÐ¾Ð±ÐµÐ» Ð´Ð¾Ð»Ð¸ Ð¿ÑÐ°Ð²Ð¸Ð»ÑÐ½ÑÑ Ð¾ÑÐ²ÐµÑÐ¾Ð² Ð»Ð¾Ð³Ð¸ÑÑÐ¸ÑÐµÑÐºÐ¾Ð¹ ÑÐµÐ³ÑÐµÑÑÐ¸Ð¸ Ð¸ Ð»Ð¸Ð½ÐµÐ¹Ð½Ð¾Ð³Ð¾ SVM, Ð¾Ð±ÑÑÐµÐ½Ð½ÑÑ Ñ Ð¿Ð¾Ð¼Ð¾ÑÑÑ ÑÑÐ¾ÑÐ°ÑÑÐ¸ÑÐµÑÐºÐ¾Ð³Ð¾ Ð³ÑÐ°Ð´Ð¸ÐµÐ½ÑÐ½Ð¾Ð³Ð¾ ÑÐ¿ÑÑÐºÐ°, Ð½Ð° Ð¾ÑÐ»Ð¾Ð¶ÐµÐ½Ð½Ð¾Ð¹ Ð²ÑÐ±Ð¾ÑÐºÐµ. ÐÐºÑÑÐ³Ð»Ð¸ÑÐµ Ð´Ð¾ 3 Ð·Ð½Ð°ÐºÐ¾Ð² Ð¿Ð¾ÑÐ»Ðµ ÑÐ°Ð·Ð´ÐµÐ»Ð¸ÑÐµÐ»Ñ.**

In [30]:
print('{} {}'.format(round(accuracy_score(y_valid, logit_valid_pred), 3),
                    round(accuracy_score(y_valid, svm_valid_pred) ,3)))

0.302 0.295

**Ð¡Ð´ÐµÐ»Ð°Ð¹ÑÐµ Ð¿ÑÐ¾Ð³Ð½Ð¾Ð· Ð´Ð»Ñ ÑÐµÑÑÐ¾Ð²Ð¾Ð¹ Ð²ÑÐ±Ð¾ÑÐºÐ¸ Ñ Ð¿Ð¾Ð¼Ð¾ÑÑÑ *sgd_logit*.**

In [31]:
logit_test_pred = sgd_logit.predict(X_test_sparse)

**ÐÐ°Ð¿Ð¸ÑÐ¸ÑÐµ Ð¾ÑÐ²ÐµÑÑ Ð² ÑÐ°Ð¹Ð» Ð¸ ÑÐ´ÐµÐ»Ð°Ð¹ÑÐµ Ð¿Ð¾ÑÑÐ»ÐºÑ Ð½Ð° Kaggle. ÐÐ°Ð»ÐµÐµ Ð´Ð°Ð¹ÑÐµ ÑÐ²Ð¾ÐµÐ¹ ÐºÐ¾Ð¼Ð°Ð½Ð´Ðµ (Ð¸Ð· Ð¾Ð´Ð½Ð¾Ð³Ð¾ ÑÐµÐ»Ð¾Ð²ÐµÐºÐ°) Ð½Ð° Kaggle Ð³Ð¾Ð²Ð¾ÑÑÑÐµÐµ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ðµ â Ð¿Ð¾ ÑÐ°Ð±Ð»Ð¾Ð½Ñ "[YDF & MIPT] _Username", ÑÑÐ¾Ð± Ð¼Ð¾Ð¶Ð½Ð¾ Ð±ÑÐ»Ð¾ Ð»ÐµÐ³ÐºÐ¾ Ð¸Ð´ÐµÐ½ÑÐ¸ÑÐ¸ÑÐ¸ÑÐ¾Ð²Ð°ÑÑ ÐÐ°ÑÑ Ð¿Ð¾ÑÑÐ»ÐºÑ Ð½Ð° [Ð»Ð¸Ð´ÐµÑÐ±Ð¾ÑÐ´Ðµ](https://inclass.kaggle.com/c/identify-me-if-you-can4/leaderboard).**

**Ð ÐµÐ·ÑÐ»ÑÑÐ°Ñ, ÐºÐ¾ÑÐ¾ÑÑÐ¹ Ð¼Ñ ÑÐ¾Ð»ÑÐºÐ¾ ÑÑÐ¾ Ð¿Ð¾Ð»ÑÑÐ¸Ð»Ð¸, ÑÐ¾Ð¾ÑÐ²ÐµÑÑÑÐ²ÑÐµÑ Ð±ÐµÐ¹Ð·Ð»Ð°Ð¹Ð½Ñ "SGDCLassifer" Ð½Ð° Ð»Ð¸Ð´ÐµÑÐ±Ð¾ÑÐ´Ðµ, Ð·Ð°Ð´Ð°ÑÐ° Ð½Ð° ÑÑÑ Ð½ÐµÐ´ÐµÐ»Ñ â ÐºÐ°Ðº Ð¼Ð¸Ð½Ð¸Ð¼ÑÐ¼ ÐµÐ³Ð¾ Ð¿Ð¾Ð±Ð¸ÑÑ, Ð´Ð¾Ð¿Ð¾Ð»Ð½Ð¸ÑÐµÐ»ÑÐ½ÑÐµ Ð±Ð°Ð»Ð»Ñ Ð±ÑÐ´ÑÑ Ð´Ð»Ñ ÑÐµÑ, ÐºÑÐ¾ Ð¿Ð¾Ð¿Ð°Ð´ÐµÑ Ð² ÑÐ¾Ð¿-10 Ð¸ ÑÐ¾Ð¿-30 Ð¿Ð¾ Ð¸ÑÐ¾Ð³Ð°Ð¼ ÑÑÐ¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ð¸.**

In [32]:
def write_to_submission_file(predicted_labels, out_file,
                             target='user_id', index_label="session_id"):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [33]:
write_to_submission_file(logit_test_pred, 'logit_test_pred.csv')

## ÐÐ¾Ð¿ÑÐ¾Ð±ÑÐµÐ¼ Ð´Ð¾Ð±Ð°Ð²Ð¸ÑÑ Ð½Ð¾Ð²ÑÐµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸

#### ÐÐ±Ð¾Ð³Ð°ÑÐ¸Ð¼ Ð²ÑÐ±Ð¾ÑÐºÐ¸ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ°Ð¼Ð¸: '#unique_sites', 'timeOfDay', 'start_hour', 'day_of_week', 'is_in_top_30', 'timespan', 'facebookFreq'

In [34]:
#ÐÐ¾Ð·Ð²ÑÐ°ÑÐ°ÐµÑ Ð¸Ð½Ð´Ð¸ÐºÐ°ÑÐ¾Ñ Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ñ 30-ÑÐ¸ Ð½Ð°Ð¸Ð±Ð¾Ð»ÐµÐµ Ð¿Ð¾Ð¿ÑÐ»ÑÑÐ½ÑÑ ÑÐ°Ð¹ÑÐ¾Ð²
def is_top_sites(row):
    i = 0
    inRange = None
    while not inRange and i < len(row):
        inRange = row[i] in range(1, 31)
        i += 1
    return int(inRange)

#ÐÐ¾Ð·Ð²ÑÐ°ÑÐ°ÐµÑ Ð²ÑÐµÐ¼Ñ ÑÑÑÐ¾Ðº
def time_of_day(startHour):
    inRange = None
    i = 1
    timeOfDay = {1: range(0, 6), 2: range(6, 12), 3: range(12, 18), 4: range(18, 24)}
    while not inRange and i <= 4:
        inRange = startHour in timeOfDay[i]
        i += 1
    return i - 1

In [35]:
#ÐÑÑÐ¸ÑÐ»ÑÐµÑ Ð½Ð¾Ð²ÑÐµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸ Ð´Ð»Ñ ÑÐµÑÑÐ¸Ð¸
def engeneer_features(row):
    t = row[1]  
    time = datetime.datetime(int(t[0:4]), int(t[5:7]), int(t[8:10]),
                                     int(t[11:13]), int(t[14:16]), int(t[17:19]))
    start_hour = int(t[11:13])
    timeOfDay = time_of_day(start_hour)
    day_of_week = time.weekday()
    sites = row[[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]]
    unique_sites = len(np.unique(sites))
    is_in_top_30 = is_top_sites(sites)
    times = row[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]]
    timespan = []
    lastTime = None
    j = 0
    for time_ in times:
        if str(time_) != 'nan':
            t0 = datetime.datetime(int(time_[0:4]), int(time_[5:7]), int(time_[8:10]), 
                               int(time_[11:13]), int(time_[14:16]), int(time_[17:19]))
            if lastTime:
                delta = t0 - lastTime
                timespan.append(delta.seconds)
                lastTime = t0
            else:
                lastTime = t0
        else:
            timespan.append(0)
    #ÑÐ°ÑÑÐ¾ÑÐ° Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ð¹ facebook.com
    k = 0
    for site in sites:
        if site > 0:
            if int(site) == 27 or int(site) == 1716:
                k += 1
    facebookFreq = k / len(row)
    return [unique_sites, timeOfDay, start_hour, day_of_week, is_in_top_30, round(np.mean(timespan), 3), facebookFreq]

In [36]:
train_arr = list(map(engeneer_features, train_df.values))
test_arr = list(map(engeneer_features, test_df.values))

#### Ð£ÑÐ»Ð¾Ð²Ð½Ð¾ ÐºÐ°ÑÐµÐ³Ð¾ÑÐ¸Ð°Ð»ÑÐ½ÑÐµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸ Ð¿ÑÐµÐ¾Ð±ÑÐ°Ð·ÑÐµÐ¼ Ð¼ÐµÑÐ¾Ð´Ð¾Ð¼ One-Hot

In [37]:
enc_train = OneHotEncoder()
enc_test = OneHotEncoder()

oneHot_train_arr = enc_train.fit_transform(np.array(train_arr)[:,:-2])
oneHot_test_arr = enc_test.fit_transform(np.array(test_arr)[:,:-2])

#### ÐÑÐ¸Ð·Ð½Ð°Ðº 'timespan' - ÑÑÐµÐ´Ð½ÑÑ ÑÐ°Ð·Ð½Ð¸ÑÐ° Ð¼ÐµÐ¶Ð´Ñ Ð²ÑÐµÐ¼ÐµÐ½ÐµÐ¼ Ð¿Ð¾ÑÐµÑÐµÐ½Ð¸Ñ ÑÐ°Ð¹ÑÐ¾Ð² Ð¾ÑÐ¼Ð°ÑÑÑÐ°Ð±Ð¸ÑÑÐµÐ¼

In [38]:
scaler = StandardScaler()

In [39]:
timespan_scaled_train = scaler.fit_transform(np.array(train_arr)[:,-2:-1])
timespan_scaled_test = scaler.fit_transform(np.array(test_arr)[:,-2:-1])

In [40]:
X_train_sparse_new_feat = hstack([X_train_sparse, oneHot_train_arr, timespan_scaled_train, np.array(train_arr)[:,-1:]])
X_test_sparse_new_feat = hstack([X_test_sparse, oneHot_test_arr, timespan_scaled_test, np.array(test_arr)[:,-1:]])

In [41]:
#ÑÐ°Ð·Ð´ÐµÐ»Ð¸Ð¼ Ð½Ð° Ð¾Ð±ÑÑÐ°ÑÑÑÑ Ð¸ Ð¾ÑÐ»Ð¾Ð¶ÐµÐ½Ð½ÑÑ Ð¿Ð¾Ð´Ð²ÑÐ±Ð¾ÑÐºÐ¸
X_train_new_feat, X_valid_new_feat, y_train_new_feat, y_valid_new_feat = train_test_split(X_train_sparse_new_feat,
                                                                                          y, test_size=0.3,
                                                                                          random_state=17, stratify=y)

#### ÐÐ°Ð´Ð°Ð´Ð¸Ð¼ ÐºÐ»Ð°ÑÑÐ¸ÑÐ¸ÐºÐ°ÑÐ¾Ñ

In [42]:
sgd_best_new_feat = SGDClassifier(random_state=17, fit_intercept=False, n_iter=20, loss='modified_huber',
                                  penalty='l2', n_jobs=-1)

In [43]:
%%time
sgd_best_new_feat.fit(X_train_new_feat, y_train_new_feat)

CPU times: user 2min 43s, sys: 2min 33s, total: 5min 17s
Wall time: 42.1 s

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=False, l1_ratio=0.15,
       learning_rate='optimal', loss='modified_huber', n_iter=20,
       n_jobs=-1, penalty='l2', power_t=0.5, random_state=17, shuffle=True,
       verbose=0, warm_start=False)

In [44]:
sgd_valid_pred_new_feat = sgd_best_new_feat.predict(X_valid_new_feat)

#### ÐÐ¾Ð»Ñ Ð¿ÑÐ°Ð²Ð¸Ð»ÑÐ½ÑÑ Ð¾ÑÐ²ÐµÑÐ¾Ð² Ð½Ð° Ð¾ÑÐ»Ð¾Ð¶ÐµÐ½Ð½Ð¾Ð¹ Ð²ÑÐ±Ð¾ÑÐºÐµ

In [45]:
print('{}'.format(round(accuracy_score(y_valid_new_feat, sgd_valid_pred_new_feat), 3)))

0.427

#### Ð­ÑÐ¾ Ð¿Ð¾Ð·Ð²Ð¾Ð»Ð¸Ð»Ð¾ Ð²ÑÐ¿Ð¾Ð»Ð½Ð¸ÑÑ Ð¼Ð¸Ð½Ð¸Ð¼Ð°Ð»ÑÐ½ÑÐµ ÑÑÐµÐ±Ð¾Ð²Ð°Ð½Ð¸Ñ Ð·Ð°Ð´Ð°Ð½Ð¸Ñ Ð¸ ÑÐ¾ÑÑ Ð¸ Ð½Ðµ Ð¼Ð½Ð¾Ð³Ð¾, Ð½Ð¾ Ð¿ÑÐµÐ²Ð·Ð¾Ð¹ÑÐ¸ ÑÐµÐ·ÑÐ»ÑÑÐ°Ñ baseline Ð½Ð° kaggle ÑÐ¾ Ð·Ð½Ð°ÑÐµÐ½Ð¸ÐµÐ¼ score 0.17447
([YDF & MIPT] _Sergei Naumov)

In [46]:
logit_test_pred_new_feat = sgd_best_new_feat.predict(X_test_sparse_new_feat)

In [47]:
write_to_submission_file(logit_test_pred_new_feat, 'logit_test_pred_new_feat.csv')

## ÐÑÐ¸ÑÐµÑÐ¸Ð¸ Ð¾ÑÐµÐ½ÐºÐ¸ ÑÐ°Ð±Ð¾ÑÑ:
-  ÐÑÐ°Ð²Ð¸Ð»ÑÐ½ÑÐµ Ð»Ð¸ Ð¿Ð¾Ð»ÑÑÐ¸Ð»Ð¸ÑÑ ÑÐ°Ð·Ð¼ÐµÑÐ½Ð¾ÑÑÐ¸ Ð¼Ð°ÑÑÐ¸Ñ Ð² Ð¿. 1? (max. 2 Ð±Ð°Ð»Ð»Ð°)
-  ÐÑÐ°Ð²Ð¸Ð»ÑÐ½ÑÐµ Ð»Ð¸ Ð¿Ð¾Ð»ÑÑÐ¸Ð»Ð¸ÑÑ Ð´Ð¾Ð»Ð¸ Ð¿ÑÐ°Ð²Ð¸Ð»ÑÐ½ÑÑ Ð¾ÑÐ²ÐµÑÐ¾Ð² Ð»Ð¾Ð³Ð¸ÑÑÐ¸ÑÐµÑÐºÐ¾Ð¹ ÑÐµÐ³ÑÐµÑÑÐ¸Ð¸ Ð¸ Ð»Ð¸Ð½ÐµÐ¹Ð½Ð¾Ð³Ð¾ SVM Ð² Ð¿ . 2? (max. 4 Ð±Ð°Ð»Ð»Ð°)
-  ÐÐ°ÐºÐ¾Ð² ÑÐµÐ·ÑÐ»ÑÑÐ°Ñ Ð»ÑÑÑÐµÐ¹ Ð¸Ð· Ð¿Ð¾ÑÑÐ»Ð¾Ðº Ð½Ð° Kaggle, Ð¿Ð¾Ð±Ð¸Ñ Ð»Ð¸ Ð±ÐµÐ¹Ð·Ð»Ð°Ð¹Ð½ SGDCLassifier?  (max. 2 Ð±Ð°Ð»Ð»Ð°)
-  ÐÑÐ¾Ð´Ð¸Ñ Ð»Ð¸  Ð¿Ð¾ÑÑÐ»ÐºÐ° Ð² ÑÐ¾Ð¿-30 Ð»ÑÑÑÐ¸Ñ Ð½Ð° Ð´Ð°Ð½Ð½ÑÐ¹ Ð¼Ð¾Ð¼ÐµÐ½Ñ Ð½Ð° Ð¿ÑÐ±Ð»Ð¸ÑÐ½Ð¾Ð¼ Ð»Ð¸Ð´ÐµÑÐ±Ð¾ÑÐ´Ðµ ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ? (max. 2 Ð±Ð°Ð»Ð»Ð°)
-  ÐÑÐ¾Ð´Ð¸Ñ Ð»Ð¸  Ð¿Ð¾ÑÑÐ»ÐºÐ° Ð² ÑÐ¾Ð¿-10 Ð»ÑÑÑÐ¸Ñ Ð½Ð° Ð´Ð°Ð½Ð½ÑÐ¹ Ð¼Ð¾Ð¼ÐµÐ½Ñ Ð½Ð° Ð¿ÑÐ±Ð»Ð¸ÑÐ½Ð¾Ð¼ Ð»Ð¸Ð´ÐµÑÐ±Ð¾ÑÐ´Ðµ ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ? (max. 4 Ð±Ð°Ð»Ð»Ð°)

## ÐÑÑÐ¸ ÑÐ»ÑÑÑÐµÐ½Ð¸Ñ
ÐÐ° ÑÑÐ¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ðµ Ð´Ð°ÐµÑÑÑ Ð¼Ð½Ð¾Ð³Ð¾ Ð²ÑÐµÐ¼ÐµÐ½Ð¸ Ð½Ð° ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ðµ. ÐÐµ Ð·Ð°Ð±ÑÐ²Ð°Ð¹ÑÐµ Ð²Ð½Ð¾ÑÐ¸ÑÑ ÑÐ¾ÑÐ¾ÑÐ¸Ðµ Ð¸Ð´ÐµÐ¸, Ðº ÐºÐ¾ÑÐ¾ÑÑÐ¼ ÐÑ Ð¿ÑÐ¸ÑÐ»Ð¸ Ð¿Ð¾ ÑÐ¾Ð´Ñ ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ, Ð² Ð¾Ð¿Ð¸ÑÐ°Ð½Ð¸Ðµ ÑÐ¸Ð½Ð°Ð»ÑÐ½Ð¾Ð³Ð¾ Ð¿ÑÐ¾ÐµÐºÑÐ° (`html`, `pdf` Ð¸Ð»Ð¸ `ipynb`).
Ð§ÑÐ¾ Ð¼Ð¾Ð¶Ð½Ð¾ Ð¿Ð¾Ð¿ÑÐ¾Ð±Ð¾Ð²Ð°ÑÑ:
 - ÐÑÐ¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÑ ÑÐ°Ð½ÐµÐµ Ð¿Ð¾ÑÑÑÐ¾ÐµÐ½Ð½ÑÐµ Ð¿ÑÐ¸Ð·Ð½Ð°ÐºÐ¸ Ð´Ð»Ñ ÑÐ»ÑÑÑÐµÐ½Ð¸Ñ Ð¼Ð¾Ð´ÐµÐ»Ð¸ (Ð¿ÑÐ¾Ð²ÐµÑÐ¸ÑÑ Ð¸Ñ Ð¼Ð¾Ð¶Ð½Ð¾ Ð½Ð° Ð¼ÐµÐ½ÑÑÐµÐ¹ Ð²ÑÐ±Ð¾ÑÐºÐµ Ð¿Ð¾ 150 Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÑÐ¼ â ÑÑÐ¾ Ð±ÑÑÑÑÐµÐµ)
 - ÐÐ°ÑÑÑÐ¾Ð¸ÑÑ Ð¿Ð°ÑÐ°Ð¼ÐµÑÑÑ Ð¼Ð¾Ð´ÐµÐ»ÐµÐ¹ (Ð½Ð°Ð¿ÑÐ¸Ð¼ÐµÑ, ÐºÐ¾ÑÑÑÐ¸ÑÐ¸ÐµÐ½ÑÑ ÑÐµÐ³ÑÐ»ÑÑÐ¸Ð·Ð°ÑÐ¸Ð¸)
 - ÐÑÐ»Ð¸ Ð¿Ð¾Ð·Ð²Ð¾Ð»ÑÑÑ Ð¼Ð¾ÑÐ½Ð¾ÑÑÐ¸ (Ð¸Ð»Ð¸ ÑÐ²Ð°ÑÐ°ÐµÑ ÑÐµÑÐ¿ÐµÐ½Ð¸Ñ), Ð¼Ð¾Ð¶Ð½Ð¾ Ð¿Ð¾Ð¿ÑÐ¾Ð±Ð¾Ð²Ð°ÑÑ ÑÐ¼ÐµÑÐ¸Ð²Ð°Ð½Ð¸Ðµ (Ð±Ð»ÐµÐ½Ð´Ð¸Ð½Ð³) Ð¾ÑÐ²ÐµÑÐ¾Ð² Ð±ÑÑÑÐ¸Ð½Ð³Ð° Ð¸ Ð»Ð¸Ð½ÐµÐ¹Ð½Ð¾Ð¹ Ð¼Ð¾Ð´ÐµÐ»Ð¸. [ÐÐ¾Ñ](http://mlwave.com/kaggle-ensembling-guide/) Ð¾Ð´Ð¸Ð½ Ð¸Ð· ÑÐ°Ð¼ÑÑ Ð¸Ð·Ð²ÐµÑÑÐ½ÑÑ ÑÑÑÑÐ¾ÑÐ¸Ð°Ð»Ð¾Ð² Ð¿Ð¾ ÑÐ¼ÐµÑÐ¸Ð²Ð°Ð½Ð¸Ñ Ð¾ÑÐ²ÐµÑÐ¾Ð² Ð°Ð»Ð³Ð¾ÑÐ¸ÑÐ¼Ð¾Ð²
 - ÐÐ±ÑÐ°ÑÐ¸ÑÐµ Ð²Ð½Ð¸Ð¼Ð°Ð½Ð¸Ðµ, ÑÑÐ¾ Ð² ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ð¸ ÑÐ°ÐºÐ¶Ðµ Ð´Ð°Ð½Ñ Ð¸ÑÑÐ¾Ð´Ð½ÑÐµ Ð´Ð°Ð½Ð½ÑÐµ Ð¾ Ð¿Ð¾ÑÐµÑÐµÐ½Ð½ÑÑ 400 Ð¿Ð¾Ð»ÑÐ·Ð¾Ð²Ð°ÑÐµÐ»ÑÐ¼Ð¸ Ð²ÐµÐ±-ÑÑÑÐ°Ð½Ð¸ÑÐ°Ñ (400 csv-ÑÐ°Ð¹Ð»Ð¾Ð² Ð² *train.zip*). ÐÐ¾ ÑÑÐ¸Ð¼ Ð´Ð°Ð½Ð½ÑÐ¼ Ð¼Ð¾Ð¶Ð½Ð¾ ÑÑÐ¾ÑÐ¼Ð¸ÑÐ¾Ð²Ð°ÑÑ ÑÐ²Ð¾Ñ Ð¾Ð±ÑÑÐ°ÑÑÑÑ Ð²ÑÐ±Ð¾ÑÐºÑ. 

ÐÐ° 6 Ð½ÐµÐ´ÐµÐ»Ðµ Ð¼Ñ Ð¿ÑÐ¾Ð¹Ð´ÐµÐ¼ Ð±Ð¾Ð»ÑÑÐ¾Ð¹ ÑÑÑÑÐ¾ÑÐ¸Ð°Ð» Ð¿Ð¾ Vowpal Wabbit Ð¸ Ð¿Ð¾Ð¿ÑÐ¾Ð±ÑÐµÐ¼ ÐµÐ³Ð¾ Ð² Ð´ÐµÐ»Ðµ, Ð½Ð° Ð´Ð°Ð½Ð½ÑÑ ÑÐ¾ÑÐµÐ²Ð½Ð¾Ð²Ð°Ð½Ð¸Ñ.